<title>行业综合管理</title>

<link rel="stylesheet" href="/css/app/f-industry-integrated-manage/apply-table.css">
<!-- <link rel="stylesheet" href="/css/app/f-industry-integrated-manage/relicList.css"> -->

<script src="/js/app/f-industry-integrated-manage/apply-table.js"></script>
<script src="/js/app/f-industry-integrated-manage/models/public-model.js"></script>
<script src="/js/app/f-industry-integrated-manage/views/public-view.js"></script>
<style>
    .cmx-apply-table td {
        vertical-align: middle !important;
    }

    .cmx-apply-table {
        display: none;
    }
</style>
<div class="page page-full">
    <div class="page-content vertical-align-top">
        <table class="table table-bordered table-striped cmx-apply-table">
            <col class="col1" />
            <col class="col2" />
            <col class="col3" />
            <col class="col4" />
            <thead>
                <tr>
                    <th colspan="4">
                        <span>*</span>请选择申报类型</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="applyId 56014_a">56014</td>
                    <td class="56014_a">全国重点文物保护单位修缮审批</td>
                    <td class="56014_a">年度计划</td>
                    <td class="applyBtn 56014_a">
                        <button  class="btn btn-primary" cmx-approval-id="56014_a">申报</button>
                    </td>
                </tr>
                <tr>
                    <td class="applyId 56014-3_a">56014-3</td>
                    <td class="56014-3_a">全国重点文物保护单位安全防护工程项目审批</td>
                    <td class="56014-3_a">年度计划</td>
                    <td class="applyBtn 56014-3_a">
                        <button  class="btn btn-primary" cmx-approval-id="56014-3_a">申报</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="cmx-modalDiv"></div>

<div id="cmx-new-scheme-div"></div>

<!-- 安全防护工程 -->
<!-- <div id="cmx-modalDiv1"></div> -->
<!-- <div id="cmx-56008-modal"></div> -->