<title>办理信息</title>

<link rel="stylesheet" href="/vendor/jstree/jstree.css">
<link rel="stylesheet" href="/css/app/f-industry-integrated-manage/processing-information.css">
<link rel="stylesheet" href="/vendor/bootstrap-select/bootstrap-select.css">
<script src="/vendor/jstree/jstree.min.js"></script>
<script src="/vendor/bootstrap-select/bootstrap-select.min.js"></script>

<script src="/js/app/f-industry-integrated-manage/models/public-model.js"></script>
<script src="/js/app/f-industry-integrated-manage/views/public-view.js"></script>

<script src="/vendor/clipboard/clipboard.min.js"></script>

<script src="/js/app/f-industry-integrated-manage/applyinfo.js"></script>
<style>
    .n1,
    .n2,
    .n3 {
        display: none;
    }

    .widget-body {
        position: relative;
        padding: 30px 25px;
        border: 1px solid #eee;
    }

    .cursorPointer {
        cursor: pointer;
    }

    .bootstrap-select {
        width: 100% !important;
    }

    #cmx-generalperson .radio-custom {
        display: inline-block;
        margin-right: 20px;
        min-width: 80px;
    }
</style>
<div class="page animation-fade" style="background-color:#fff;">
    <div class="cmx-header">
        <div class="padding-top-10 padding-bottom-10 padding-left-20">
            <span class="cmx-header-title hidden-md hidden-sm hidden-xs">

            </span>
            <div class="cmx-button padding-right-0">
                <button func-id="0103080100000000"   class="btn btn-primary hidden" id="cmx-button-dragprocess" style="margin-right:10px;">拽文</button>
                <button class="btn btn-primary" id="cmx-button-return" style="margin-right:10px;">返回</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- 内容-->
    <div class="page-main margin-top-50">
        <div class="page-content" style="color:#76838f;">
            <div class="example-wrap">
                <div class="nav-tabs-horizontal">
                    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                        <li id="cmx-banli-info" class="active" role="presentation" style="display:none;">
                            <a data-toggle="tab" href="#processTabOne" aria-controls="processTabOne" role="tab" aria-expanded="true">
                                办理信息
                            </a>
                        </li>
                        <li role="presentation">
                            <a data-toggle="tab" href="#processTabTwo" aria-controls="processTabTwo" role="tab" aria-expanded="false">
                                申请原文
                            </a>
                        </li>
                        <li role="presentation" id="cmx-banli-title" style="display:none;">
                            <a data-toggle="tab" href="#processTabThree" aria-controls="processTabThree" role="tab" aria-expanded="false">
                                流程跟踪
                            </a>
                        </li>
                        <li role="presentation" id="cmx-pingshen-title" style="display:none;">
                            <a data-toggle="tab" href="#processTabFour" aria-controls="processTabFour" role="tab" aria-expanded="false">
                                专家意见
                            </a>
                        </li>
                        <li role="presentation" id="cmx-pifu-title" style="display:none;">
                            <a data-toggle="tab" href="#processTabFive" aria-controls="processTabFive" role="tab" aria-expanded="false">
                                批复意见
                            </a>
                        </li>
                        <li role="presentation" id="cmx-zhuanfawen-title" style="display:none;">
                            <a data-toggle="tab" href="#processTabSix" aria-controls="processTabSix" role="tab" aria-expanded="false">
                                发文信息
                            </a>
                        </li>
                        <li role="presentation" id="cmx-pingjiafankui-title" style="display:none;">
                            <a data-toggle="tab" href="#processTabSeven" aria-controls="processTabSeven" role="tab" aria-expanded="false">
                                评价反馈
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="processTabOne" role="tabpanel">
                            <div id="cmx-processing">
                                <div class="panel-body container-fluid">
                                    <div class="pull-right" id="cmx-timeLimit" style="display: none">
                                        <i class="icon wb-time" aria-hidden="true"></i> &nbsp;总限时
                                        <span class="timeLimit"></span>个工作日，剩余
                                        <span class="workDay"></span>个工作日。</div>
                                    <div class="clearfix"></div>
                                    <!-- table -->
                                    <div class="example table-responsive">
                                        <table class="table table-bordered">
                                            <tbody class="table-matter">
                                                <tr>
                                                    <td colspan="1" class="backg text-center">审批事项</td>
                                                    <td colspan="3" id="approvalItemName"></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="1" class="backg text-center">项目名</td>
                                                    <td colspan="3" id="projectName"></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="1" class="backg text-center">文件标题</td>
                                                    <td colspan="3" id="proFileTitle"></td>
                                                </tr>
                                                <tr>
                                                    <td class="backg text-center">文件号</td>
                                                    <td id="proFileNum"></td>
                                                    <td class="backg text-center">网审号</td>
                                                    <td id="networkNum"></td>
                                                    <!-- projectNum -->
                                                </tr>
                                                <tr>
                                                    <td class="backg text-center">保护单位</td>
                                                    <td id="protectUnitName"></td>
                                                    <td class="backg text-center">类型</td>
                                                    <td id="publishTypeName"></td>
                                                </tr>
                                                <tr>
                                                    <td class="backg text-center">主办人</td>
                                                    <td id="hostPersonName"></td>
                                                    <td class="backg text-center">受理时间</td>
                                                    <td id="acceptTime"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="example-wrap">
                                        <div class="pearls row apply-pearls">
                                            <div class="pearl done col-xs-4 n1-state">
                                                <div class="pearl-icon">
                                                    <i class="icon wb-pencil" aria-hidden="true"></i>
                                                </div>
                                                <span class="pearl-title">提交申请</span>
                                            </div>
                                            <div class="pearl current col-xs-4 n2-state">
                                                <div class="pearl-icon">
                                                    <i class="icon wb-users" aria-hidden="true"></i>
                                                </div>
                                                <span class="pearl-title apply-title">审批进行</span>
                                            </div>
                                            <div class="pearl disabled col-xs-4 n3-state">
                                                <div class="pearl-icon">
                                                    <i class="icon wb-check" aria-hidden="true"></i>
                                                </div>
                                                <span class="pearl-title">审批结束</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <p class="text-center n3-edit" style="display:none;">
                                                <button class="btn btn-warning btn-raised btn-lg" id="goto-edit">进行补正</button>
                                            </p>
                                            <div class="col-xs-12 n1">
                                                <div class="example table-responsive">
                                                    <table class="table table-bordered">
                                                        <tbody>
                                                            <tr>
                                                                <td colspan="6" class="backg text-center" style="padding-top:20px">
                                                                    <h1 style="font-weight: bold;">国家文物局行政许可（行政审批）受理通知书</h1>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="6" class="text-left" style="text-indent: 2em;padding: 15px;">
                                                                    事项名称：
                                                                    <span class="n1-p0"></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width:15%;font-weight: bold;" class="text-center">受理时间</td>
                                                                <td style="width:15%;" class="text-center n1-p1"></td>
                                                                <td style="width:15%;font-weight: bold;" class="text-center">受理人</td>
                                                                <td style="width:15%;" class="text-center n1-p2"></td>
                                                                <td style="width:20%;font-weight: bold;" class="text-center">许可编号</td>
                                                                <td style="width:20%;" class="text-center n1-p3"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-center" style="font-weight: bold;">申请人</td>
                                                                <td colspan="2" class="text-center n1-p4"></td>
                                                                <td class="text-center" style="font-weight: bold;">申请人联系电话</td>
                                                                <td colspan="2" class="text-center n1-p5"></td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="6" style="border-bottom: none;padding: 15px;">
                                                                    <div style="width:100%;float:left; text-align:left;text-indent: 2em;" class="n1-content">
                                                                        <p>经审查，你（单位）提交的
                                                                            <span class="n1-p7"></span>相关所有申报材料齐全，符合受理条件，现予受理。此事项法定办结时限为20个工作日。我局承诺依法自受理之日起20个工作日内作出许可或不予许可决定。</p>
                                                                        <p>许可决定作出后，我局将通过邮政寄递公文的形式回复并在国家文物局综合行政管理平台gl.sach.gov.cn主动公开（非涉密类），申请人也可自行到我局受理窗口领取。</p>
                                                                        <p class="n1-p10">提醒：查询进度办理（结果）请登录国家文物局综合行政管理平台或致电010-56792137。此项许可不收取费用。</p>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="4" class="text-right" style="border: none;">
                                                                </td>
                                                                <td colspan="2" class="text-center n1-p8" style="border: none;">
                                                                    办公室
                                                                    <br/>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 n2">
                                                <div class="example table-responsive">
                                                    <table class="table table-bordered">
                                                        <tbody>
                                                            <tr>
                                                                <td colspan="4" class="backg text-center" style="padding-top:20px">
                                                                    <h1 style="font-weight: bold;">国家文物局行政许可（行政审批）不予受理通知书</h1>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="4" class="text-left" style="text-indent: 2em;padding: 15px;">
                                                                    事项名称：
                                                                    <span class="n2-p0"></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-center" style="width:25%;font-weight: bold;">申请人</td>
                                                                <td style="width:25%" class="n2-p1"></td>
                                                                <td style="width:25%;font-weight: bold;" class="text-center">申请人联系电话</td>
                                                                <td style="width:25%" class="n2-p2"></td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="6" style="border-bottom: none;padding: 15px;">
                                                                    <div style="width:100%;float:left; text-align:left;text-indent: 2em;" class="n1-content">
                                                                        <p>经审查，你（单位）提交的申请
                                                                            <span class="n2-p7"></span>由于：</p>
                                                                        <p class="n2-p3">（ ）根据法律法规和“三定”方案，不属于我局职责范围。</p>
                                                                        <p class="n2-p4">（ ）根据国务院文件，我局已经下放或取消该项许可。</p>
                                                                        <p class="n2-p5">（ ）根据我局行政审批指南，申报材料中有重要因素缺失或错误，具体为：
                                                                        </p>
                                                                        <p class="n2-p6">（ ）其他原因，具体为： 我局不予受理。特此告知！</p>
                                                                        <p class="n2-p10">如有疑义，请致电010-56792137详询。</p>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2" class="text-right" style="border: none;">
                                                                </td>
                                                                <td colspan="2" class="text-center n2-p8" style="border: none;">
                                                                    办公室
                                                                    <br/>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 n3">
                                                <div class="example table-responsive">
                                                    <table class="table table-bordered">
                                                        <tbody>
                                                            <tr>
                                                                <td colspan="4" class="backg text-center" style="padding-top:20px">
                                                                    <h1 style="font-weight: bold;">国家文物局行政许可（行政审批）一次性补正通知书</h1>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="4" class="text-left" style="text-indent: 2em;padding: 15px;">
                                                                    事项名称：
                                                                    <span class="n3-p0"></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-center" style="width:25%;font-weight: bold;">申请人</td>
                                                                <td style="width:25%" class="n3-p1"></td>
                                                                <td style="width:25%;font-weight: bold;" class="text-center">申请人联系电话</td>
                                                                <td style="width:25%" class="n3-p2"></td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="6" style="border-bottom: none;padding: 15px;">
                                                                    <div style="width:100%;float:left; text-align:left;text-indent: 2em;" class="n1-content">
                                                                        <p>经审查，你（单位）提交的申请
                                                                            <span class="n3-p7"></span>由于：</p>
                                                                        <p class="n3-p3">（ ）申请材料不全，具体为：</p>
                                                                        <p class="n3-p4">（ ）不符合法定形式，具体为：</p>
                                                                        <p>我局无法进行办理，请将上述材料尽快补正提交。特此告知！</p>
                                                                        <p class="n3-p10">如有疑义，请致电010-56792137详询。</p>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2" class="text-right" style="border: none;">
                                                                </td>
                                                                <td colspan="2" class="text-center n3-p8" style="border: none;">
                                                                    国家文物局办公室
                                                                    <br/>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="processTabTwo" role="tabpanel">
                            <div class="panel" id="cmx-form-body" style="overflow: scroll;">
                                <div class="panel-body container-fluid" style="overflow: hidden !important;width: 100%;height: 100%;padding: 0;">
                                    <iframe id="cmx-form" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"
                                        style="width:100%;height:100%;">
                                    </iframe>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="processTabThree" role="tabpanel">
                            <div class="panel" id="cmx-record">
                                <div class="panel-body container-fluid">
                                    <div class="example table-responsive">
                                        <table class="table table-bordered text-center">
                                            <tbody>
                                                <tr>
                                                    <td colspan="5" class="handleRecord">流程跟踪</td>
                                                </tr>
                                                <tr>
                                                    <td class="backg">序号</td>
                                                    <td class="backg">办理人</td>
                                                    <td class="backg">办理情况</td>
                                                    <td class="backg">办理时间</td>
                                                    <td class="backg">停留工作日</td>
                                                </tr>
                                            </tbody>
                                            <tbody id="cmx-banli-record"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="processTabFour" role="tabpanel">
                            <div class="panel" id="cmx-pingshen-list">
                                <div class="panel-body container-fluid" style="overflow: hidden !important;width: 100%;height: 100%;padding: 0;">
                                    <div class="btn-group pull-right margin-top-10 padding-right-20" role="group">
                                        <button type="button" class="btn btn-info" onclick="switchExpertList(event,this,1);" id="cmx-pingshen-grid-btn">
                                            <i class="icon wb-grid-9" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn  btn-default" onclick="switchExpertList(event,this,2);" id="cmx-pingshen-bulleted-btn">
                                            <i class="icon wb-list-bulleted" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <button class="btn btn-default pull-right margin-top-10 margin-right-20" disabled="disabled" id="cmx-copy-zhuanjia-yijian" data-clipboard-action="copy" data-clipboard-target="#cmx-pingshen-bulleted">一键复制专家意见</button>                                                                                                                
                                    <div class="clearfix"></div>
                                    <div class="row pingshen-list" style="margin: 17.5px 6px;" id="cmx-pingshen-grid">
                                    </div>
                                    <div class="padding-20">
                                        <div id="cmx-pingshen-bulleted" style="display:none"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="processTabFive" role="tabpanel">
                            <div class="panel" style="width: 100%;height: 100%;">
                                <div class="panel-body container-fluid" style="overflow: hidden !important;width: 100%;height: 100%;padding: 0;">
                                    <div id="cmx-pifu-file" style="text-align: center; padding: 20px 0 50px 0;"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="processTabSix" role="tabpanel">
                            <div class="panel" id="cmx-zhuanfawen-form-body" style="overflow: scroll;">
                                <div class="panel-body container-fluid" style="overflow: hidden !important;width: 100%;height: 100%;padding: 0;">
                                    <iframe id="cmx-zhuanfawen-form" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"
                                        style="width:100%;height:100%;">
                                    </iframe>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="processTabSeven" role="tabpanel">
                            <div class="panel" id="cmx-pingjiafankui-form-body" style="overflow: scroll;">
                                <div class="panel-body container-fluid" style="overflow: hidden !important;width: 100%;height: 100%;">
                                    <form autocomplete="off">
                                        <div class="form-group margin-bottom-20">
                                            <label class="control-label">您对国家文物局实体行政许可受理窗口提供便民利民的服务设施方面是否满意？</label>
                                            <div>
                                                <div class="radio-custom radio-default radio-inline">
                                                    <input type="radio" id="pingjiafankui-0" name="pingjiafankui-p1" value="0">
                                                    <label for="pingjiafankui-0">满意</label>
                                                </div>
                                                <div class="radio-custom radio-default radio-inline">
                                                    <input type="radio" id="pingjiafankui-1" name="pingjiafankui-p1" value="1">
                                                    <label for="pingjiafankui-1">比较满意</label>
                                                </div>
                                                <div class="radio-custom radio-default radio-inline">
                                                    <input type="radio" id="pingjiafankui-2" name="pingjiafankui-p1" value="2">
                                                    <label for="pingjiafankui-2">基本满意</label>
                                                </div>
                                                <div class="radio-custom radio-default radio-inline">
                                                    <input type="radio" id="pingjiafankui-3" name="pingjiafankui-p1" value="3">
                                                    <label for="pingjiafankui-3">不满意</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group margin-bottom-20">
                                            <label class="control-label">您对国家文物局在提供行政许可事项清单、办事指南等服务指引方面是否满意？</label>
                                            <div>
                                                <div class="radio-custom radio-default radio-inline">
                                                    <input type="radio" id="pingjiafankui-4" name="pingjiafankui-p2" value="0">
                                                    <label for="pingjiafankui-4">满意</label>
                                                </div>
                                                <div class="radio-custom radio-default radio-inline">
                                                    <input type="radio" id="pingjiafankui-5" name="pingjiafankui-p2" value="1">
                                                    <label for="pingjiafankui-5">比较满意</label>
                                                </div>
                                                <div class="radio-custom radio-default radio-inline">
                                                    <input type="radio" id="pingjiafankui-6" name="pingjiafankui-p2" value="2">
                                                    <label for="pingjiafankui-6">基本满意</label>
                                                </div>
                                                <div class="radio-custom radio-default radio-inline">
                                                    <input type="radio" id="pingjiafankui-7" name="pingjiafankui-p2" value="3">
                                                    <label for="pingjiafankui-7">不满意</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group margin-bottom-20">
                                            <label class="control-label">您对国家文物局行政许可受理窗口统一接收、统一答复的服务方面是否满意？</label>
                                            <div>
                                                <div class="radio-custom radio-default radio-inline">
                                                    <input type="radio" id="pingjiafankui-8" name="pingjiafankui-p3" value="0">
                                                    <label for="pingjiafankui-8">满意</label>
                                                </div>
                                                <div class="radio-custom radio-default radio-inline">
                                                    <input type="radio" id="pingjiafankui-9" name="pingjiafankui-p3" value="1">
                                                    <label for="pingjiafankui-9">比较满意</label>
                                                </div>
                                                <div class="radio-custom radio-default radio-inline">
                                                    <input type="radio" id="pingjiafankui-10" name="pingjiafankui-p3" value="2">
                                                    <label for="pingjiafankui-10">基本满意</label>
                                                </div>
                                                <div class="radio-custom radio-default radio-inline">
                                                    <input type="radio" id="pingjiafankui-11" name="pingjiafankui-p3" value="3">
                                                    <label for="pingjiafankui-11">不满意</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group margin-bottom-20">
                                            <label class="control-label">您对国家文物局行政许可受理窗口建设和开通的综合行政管理平台是否满意？</label>
                                            <div>
                                                <div class="radio-custom radio-default radio-inline">
                                                    <input type="radio" id="pingjiafankui-12" name="pingjiafankui-p4" value="0">
                                                    <label for="pingjiafankui-12">满意</label>
                                                </div>
                                                <div class="radio-custom radio-default radio-inline">
                                                    <input type="radio" id="pingjiafankui-13" name="pingjiafankui-p4" value="1">
                                                    <label for="pingjiafankui-13">比较满意</label>
                                                </div>
                                                <div class="radio-custom radio-default radio-inline">
                                                    <input type="radio" id="pingjiafankui-14" name="pingjiafankui-p4" value="2">
                                                    <label for="pingjiafankui-14">基本满意</label>
                                                </div>
                                                <div class="radio-custom radio-default radio-inline">
                                                    <input type="radio" id="pingjiafankui-15" name="pingjiafankui-p4" value="3">
                                                    <label for="pingjiafankui-15">不满意</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group margin-bottom-20">
                                            <label class="control-label">您对国家文物局简化办事流程、履行办理时限承诺方面是否满意？</label>
                                            <div>
                                                <div class="radio-custom radio-default radio-inline">
                                                    <input type="radio" id="pingjiafankui-16" name="pingjiafankui-p5" value="0">
                                                    <label for="pingjiafankui-16">满意</label>
                                                </div>
                                                <div class="radio-custom radio-default radio-inline">
                                                    <input type="radio" id="pingjiafankui-17" name="pingjiafankui-p5" value="1">
                                                    <label for="pingjiafankui-17">比较满意</label>
                                                </div>
                                                <div class="radio-custom radio-default radio-inline">
                                                    <input type="radio" id="pingjiafankui-18" name="pingjiafankui-p5" value="2">
                                                    <label for="pingjiafankui-18">基本满意</label>
                                                </div>
                                                <div class="radio-custom radio-default radio-inline">
                                                    <input type="radio" id="pingjiafankui-19" name="pingjiafankui-p5" value="3">
                                                    <label for="pingjiafankui-19">不满意</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group margin-bottom-20">
                                            <label class="control-label">评价意见：</label>
                                            <textarea class="form-control" id="pingjiafankui-p6" placeholder="请填写评价意见"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-primary" id="pingjiafankui-p7">提交</button>
                                        </div>
                                    </form>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade example-modal-lg" id="pingshen-modal" aria-hidden="true" aria-labelledby="pingshen-modal" role="dialog"
    tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="exampleOptionalLarge">评审意见</h4>
            </div>
            <div class="modal-body">
                <iframe id="cmx-form-pingshen" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"
                    style="width:100%;    height: 450px;">
                </iframe>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade example-modal-lg" id="pingshen-modal-2" aria-hidden="true" aria-labelledby="pingshen-modal-2" role="dialog"
    tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">评审意见</h4>
            </div>
            <div class="modal-body">
                <div id="cmx-form-pingshen-2"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="reminderModal" tabindex="-1" role="dialog" aria-labelledby="reminderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="reminderModalLabel">催办</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>项目名称</td>
                            <td>
                                <span id="cmx-reminder-projectname"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>当前处理人</td>
                            <td>
                                <span id="cmx-reminder-person"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>催办方式</td>
                            <td>
                                <div class="form-inline">
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox" id="reminder-type-platform" name="reminder-type" value="1">
                                        <label for="reminder-type-platform">平台催办</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox" id="reminder-type-msg" name="reminder-type" value="2">
                                        <label for="reminder-type-msg">短信催办</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>催办标题</td>
                            <td>
                                <input type="text" class="form-control" id="reminder-title">
                            </td>
                        </tr>
                        <tr>
                            <td>催办内容</td>
                            <td>
                                <textarea class="form-control" id="reminder-content"></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-info" id="cmx-reminder-save-btn">确定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
<div class="modal fade" id="showExpertInfoModal" tabindex="-1" role="dialog" aria-labelledby="showExpertInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="showExpertInfoModalLabel">基本信息</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
<div class="modal fade in modal-primary" id="cmxAddPerson" aria-hidden="true" aria-labelledby="cmxAddPerson" role="dialog"
    style="height:500px !important;" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">选择拽文对象</h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-horizontal">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active" role="presentation" id="cmx-TabsOne">
                            <a data-toggle="tab" href="#exampleTabsOne" aria-controls="exampleTabsOne" role="tab" aria-expanded="true">
                                常用联系人
                            </a>
                        </li>
                        <li role="presentation" class="" id="cmx-TabsTwo">
                            <a data-toggle="tab" href="#exampleTabsTwo" aria-controls="exampleTabsTwo" role="tab" aria-expanded="false">
                                可发送联系人
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content padding-top-20">
                        <div class="tab-pane active" id="exampleTabsOne" role="tabpanel">
                            <div style="width:100%;margin: 0 auto" id="cmx-generalperson">

                            </div>
                        </div>
                        <div class="tab-pane" id="exampleTabsTwo" role="tabpanel">
                            <div style="width:100%;margin: 0 auto">
                                <select style="width:100%;" name="" id="cmx-sendperson"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group margin-top-20">
                    <label class="control-label" for="cmx-dragprocess-reson">拽文原因</label>
                    <textarea type="text" class="form-control" id="cmx-dragprocess-reson" name="inputName"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cmx-person-save" class="btn btn-primary">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in modal-primary" id="openHuiShenModal" aria-hidden="true" aria-labelledby="openHuiShenModal" role="dialog"
    style="height:500px !important;" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">会审意见文件</h4>
            </div>
            <div class="modal-body">
                <h4>会审意见文件列表：</h4>
                <ul class="list-group padding-left-40" id="open-huishen-file-list"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>