<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>全国馆藏文物信息-详情</title>
  <link href="../css/common/ie10-viewport-bug-workaround.css" rel="stylesheet">
  <!-- Bootstrap -->
  <link href="../css/common/bootstrap.min.css" rel="stylesheet">
  <link href="../css/common/pageSwitch.min.css" rel="stylesheet">
  <link href="../css/common/paging.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--   [if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif] -->
  <link href="../css/common/pagination.css" rel="stylesheet">
  <link href="../css/common/common.css" rel="stylesheet">
  <link href="../css/service/col-cultural-relics-details.css" rel="stylesheet">
</head>
<body>
  <!-- 头部 start -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">切换导航</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./index.html">
          <img class="custom-logo" src="../img/custom-logo.png" />
          <span class="adapt-webtitle visible-lg">国家文物局
            <br>综合行政管理平台</span>
        </a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav custom-navbar">
          <li>
            <a href="../index.html">首页</a>
          </li>
          <li>
            <a href="../approval/admin-approval-manage.html">行政审批管理</a>
          </li>
          <li>
            <a href="../public/gov-info-open.html">政府信息公开</a>
          </li>
          <li>
            <a href="../industry/integrated-manage.html">行业综合管理</a>
          </li>
          <li class="active">
            <a href="../service/public-info-service.html">公共信息服务</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right custom-navbar-right">
          <li class="user-info">
            <img src="../img/login.png" alt="">
            <span class="login-2">登录</span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- 头部 end -->

  <!-- 左侧侧边栏 start -->
  <div class="left-bar hidden-xs">
    <div>
      <a href="" class="leftlink">
  
      </a>
    </div>
    <div>
      <a href="../administrative-approval.html">
  
      </a>
    </div>
    <div>
      <a href="../policy-and-regulations.html">
  
      </a>
    </div>
    <div>
      <a href="download.html">
  
      </a>
    </div>
  </div>
  <!-- 左侧侧边栏 end -->
  
  <!-- 右侧侧边栏 start -->
  <div class="right-bar hidden-xs">
    <div>
      <a href="" class="rightlink">
  
      </a>
    </div>
    <div>
      <a href="../complaint-box.html">
  
      </a>
    </div>
  </div>
  <!-- 右侧侧边栏 end -->

  <!-- 全国馆藏文物信息 start -->
  <div class="container museum">
    <p class="position"><i></i><span>当前位置 >> </span><a href="public-info-service.html">公共信息服务 </a><span> >> </span></span><a href="col-cultural-relics.html">全国馆藏文物信息 </a><span>>> 查询结果</span></p>
    <p class="relics text-center"><span class="list">全国馆藏文物信息</span></p>
    <div class="search-info">
      <div class="row">
        <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 museum-left" style="">
            <div class="collection" id="collection">
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 form-inline" style="">
                    <label for="" style="">藏品名称：</label>
                      <input type="text" class="form-control" placeholder="" style="" id="antiqueName">
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 form-inline date">
                    <label for="" style="">普查登记号：</label>        
                      <input type="text" class="form-control" id="antiqueId">
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 form-inline pick" style="">
                    <label for="" style="">藏品类别：</label>
                    <select class="form-control" style="" id="culturalClass">

                    </select>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 form-inline second-line">
                    <div>
                      <label for="date_a">收藏单位：</label>
                      <input type="text" class="form-control" id="museumName">
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 form-inline second-line pick" style="">
                    <label for="" style="">省份：</label>
                    <select class="form-control" style="" id="province">

                    </select>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 form-inline second-line pick" style="">
                    <label for="" style="">藏品年代：</label>
                    <select class="form-control" id="age">

                    </select>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 museum-right" style="">
            <a style="" href="collection-of-cultural-relics-details.html" target="_blank" class="" id="search">检索</a>            
            <a href="" id="reset">重置</a>
        </div>
      </div>
    </div>
    <div class="museum-search-details table-responsive" id="museum-search-details">
      <table class="table table-condensed">
        <thead>
          <tr class="provide-color row text-center">
              <th class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-1">普查登记号</th>
              <th class="text-center col-lg-4 col-md-4 col-sm-4 col-xs-4">藏品名称</th>
              <th class="text-center col-lg-2 col-md-2 col-sm-2 col-xs-2">类别</th>
              <th class="text-center col-lg-2 col-md-2 col-sm-2 col-xs-2">藏品年代</th>
              <th class="text-center col-lg-2 col-md-2 col-sm-2 col-xs-2">收藏单位</th>
              <th class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-1">省份</th>
          </tr>
        </thead>
        <tbody id="museum-search-tbody">
          <tr class="row text-center">
            <td class="col-lg-1 col-lg-1 col-md-1 col-sm-1 col-xs-1"></td>
            <td class="col-lg-4 col-lg-4 col-md-4 col-sm-4 col-xs-4"></td>
            <td class="col-lg-2 col-lg-2 col-md-2 col-sm-2 col-xs-2"></td>
            <td class="col-lg-2 col-lg-2 col-md-2 col-sm-2 col-xs-2"></td>
            <td class="col-lg-2 col-lg-2 col-md-2 col-sm-2 col-xs-2"></td>
            <td class="col-lg-1 col-lg-1 col-md-1 col-sm-1 col-xs-1"></td>
          </tr>
          <tr class="row text-center">
            <td class="col-lg-1 col-lg-1 col-md-1 col-sm-1 col-xs-1"></td>
            <td class="col-lg-4 col-lg-4 col-md-4 col-sm-4 col-xs-4"></td>
            <td class="col-lg-2 col-lg-2 col-md-2 col-sm-2 col-xs-2"></td>
            <td class="col-lg-2 col-lg-2 col-md-2 col-sm-2 col-xs-2"></td>
            <td class="col-lg-2 col-lg-2 col-md-2 col-sm-2 col-xs-2"></td>
            <td class="col-lg-1 col-lg-1 col-md-1 col-sm-1 col-xs-1"></td>
          </tr>
          <tr class="row text-center">
            <td class="col-lg-1 col-lg-1 col-md-1 col-sm-1 col-xs-1"></td>
            <td class="col-lg-4 col-lg-4 col-md-4 col-sm-4 col-xs-4"></td>
            <td class="col-lg-2 col-lg-2 col-md-2 col-sm-2 col-xs-2"></td>
            <td class="col-lg-2 col-lg-2 col-md-2 col-sm-2 col-xs-2"></td>
            <td class="col-lg-2 col-lg-2 col-md-2 col-sm-2 col-xs-2"></td>
            <td class="col-lg-1 col-lg-1 col-md-1 col-sm-1 col-xs-1"></td>
          </tr>
          <tr class="row text-center">
            <td class="col-lg-1 col-lg-1 col-md-1 col-sm-1 col-xs-1"></td>
            <td class="col-lg-4 col-lg-4 col-md-4 col-sm-4 col-xs-4"></td>
            <td class="col-lg-2 col-lg-2 col-md-2 col-sm-2 col-xs-2"></td>
            <td class="col-lg-2 col-lg-2 col-md-2 col-sm-2 col-xs-2"></td>
            <td class="col-lg-2 col-lg-2 col-md-2 col-sm-2 col-xs-2"></td>
            <td class="col-lg-1 col-lg-1 col-md-1 col-sm-1 col-xs-1"></td>
          </tr>
          <tr class="row text-center">
            <td class="col-lg-1 col-lg-1 col-md-1 col-sm-1 col-xs-1"></td>
            <td class="col-lg-4 col-lg-4 col-md-4 col-sm-4 col-xs-4"></td>
            <td class="col-lg-2 col-lg-2 col-md-2 col-sm-2 col-xs-2"></td>
            <td class="col-lg-2 col-lg-2 col-md-2 col-sm-2 col-xs-2"></td>
            <td class="col-lg-2 col-lg-2 col-md-2 col-sm-2 col-xs-2"></td>
            <td class="col-lg-1 col-lg-1 col-md-1 col-sm-1 col-xs-1"></td>
          </tr>
        </tbody>
      </table>
      <!-- 分页 -->
      <div class="row paging">
        <div class="M-box4"></div>
        <div class="modal-box"></div>
      </div>
    </div>
  </div>
  <!-- 全国馆藏文物信息 end -->

  <!-- 底部 start -->
  <div class="footer">
    <div class="container footer-content">
      <div class="row">
        <p>
          <a href="website-statement.html">网站声明</a>
          <a href="website-statement.html">联系我们</a>
        </p>
        <i></i>
      </div>
      <b>Copyright © 2017 国家文物局版权所有</b>
    </div>
  </div>
  <!-- 底部 end -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="../js/common/jquery-1.9.1.min.js"></script> 
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../js/common/bootstrap.min.js"></script>
  <script src="../js/common/ie10-viewport-bug-workaround.js"></script>
  <script src="../js/common/pageSwitch.min.js"></script>
  <script src="../js/common/pagination.js"></script>
  <script src="../js/common/main.js"></script>
  <script src="../js/common/common.js"></script>
  <script src="../js/common/paging.js"></script>
  <script src="../js/common/jquery.pagination.js"></script>
  <script src="../js/service/col-cultural-relics-details.js"></script>

 <!-- 模板 start -->
  <script id="tMuseumSearch" type="text/template">
    <tr class="row text-center">
      <td class="col-lg-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 antiqueId">$antiqueId$</td>
      <td class="col-lg-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">$antiqueName$</td>
      <td class="col-lg-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">$culturalClassName$</td>
      <td class="col-lg-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">$ageName$</td>
      <td class="col-lg-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">$museumName$</td>
      <td class="col-lg-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">$provinceName$</td>
    </tr>
  </script>
  <!-- 模板 end -->
</body>
</html>