<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>公共信息服务</title>
    <link href="../css/common/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="../css/common/bootstrap.min.css" rel="stylesheet">
    <link href="../css/common/pageSwitch.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/common/pagination.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="../css/common/common.css" rel="stylesheet">
    <link href="../css/service/public-information-service.css" rel="stylesheet">
    <link href="../css/service/cul-protection-unit-info.css" rel="stylesheet">
    <style>
        .demo--label {
            margin: 0;
            display: inline-block;
        }
    
        .demo--radio {
            display: none;
        }
    
        .demo--label input[type="checkbox"]:disabled+span {
            background-color: #dddddd;
            cursor: not-allowed;
        }
    
        .demo--radioInput {
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 100%;
            display: inline-block;
            height: 17px;
            margin-right: 10px;
            margin-top: -1px;
            vertical-align: middle;
            width: 17px;
            line-height: 1;
    
            position: relative;
        }
    
        .demo--radio:checked+.demo--radioInput:after {
            top: 1px;
            left: 5px;
            box-sizing: border-box;
            width: 6px;
            height: 12px;
            transform: rotate(45deg);
            border-width: 2px;
            border-style: solid;
            border-color: #000;
            border-top: 0;
            border-left: 0;
            position: absolute;
            display: block;
            content: '';
        }
    
        .demo--checkbox.demo--radioInput,
        .demo--radio:checked+.demo--checkbox.demo--radioInput:after {
            border-radius: 0;
        }
    </style>
</head>

<body>
    <!-- 头部 start -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html">
                    <img class="custom-logo" src="../img/custom-logo.png" />
                    <span class="adapt-webtitle visible-lg">国家文物局
                        <br>综合行政管理平台</span>
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav custom-navbar">
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li>
                        <a href="../approval/admin-approval-manage.html">行政审批管理</a>
                    </li>
                    <li>
                        <a href="../public/gov-info-open.html">政府信息公开</a>
                    </li>
                    <li>
                        <a href="../industry/integrated-manage.html">行业综合管理</a>
                    </li>
                    <li class="active">
                        <a href="../service/public-info-service.html">公共信息服务</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right custom-navbar-right">
                    <li class="user-info">
                        <img src="../img/login.png" alt="">
                        <span class="login-2">登录</span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 头部 end -->

    <!-- 左侧侧边栏 start -->
    <div class="left-bar hidden-xs">
        <div>
            <a href="" class="leftlink">

            </a>
        </div>
        <div>
            <a href="../administrative-approval.html">

            </a>
        </div>
        <div>
            <a href="../policy-and-regulations.html">

            </a>
        </div>
        <div>
            <a href="download.html">

            </a>
        </div>
    </div>
    <!-- 左侧侧边栏 end -->

    <!-- 右侧侧边栏 start -->
    <div class="right-bar hidden-xs">
        <div>
            <a href="" class="rightlink">

            </a>
        </div>
        <div>
            <a href="../complaint-box.html">

            </a>
        </div>
    </div>
    <!-- 右侧侧边栏 end -->

    <!-- 巨幕 考古发掘资质单位名单 start -->
    <div class="giant-screen qualification-unit protection-unit jumbotron unit text-center">
        <div class="container classification" id="classification">
            <h3 class="" id="title">文物保护资质单位信息</h3>
            <div class="row classification">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 classification-left">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-inline">
                        <label for="" style="" class="pis3">所属区域：</label>
                        <select class="form-control pis3" id="province">
                            
                        </select>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-inline">
                        <label for="" class="pis3">业务范围：</label>
                        <input type="text" class="form-control pis3" placeholder="" id="unitQualiDesigRange">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-inline second-line">
                        <label for="" class="pis3">单位名称：</label>
                        <input type="text" class="form-control pis3" placeholder="" id="unitName">
                    </div>
                                        <div id="unitQuali" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-inline sf checkbox second-line">
                                        
                                        </div>
                    <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12 form-inline second-line checkbox range-1" id="range-1">
                        
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12 form-inline second-line checkbox range-2" id="range-2">
                        
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 classification-right">
                    <a href="" class="" id="search">检索</a>
                    <a href="" id="reset">重置</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 巨幕 考古发掘资质单位名单 end -->

    <!-- 统计表格1 start -->
    <div class="statistics unmovable">
        <div class="modal-box">
            <img src="../img/loading.gif" alt="" width="50">
        </div>
        <div class="container unmovableContent">
            <div class="table-responsive">
                <table class="table table-hover statistics-table table-condensed" style="word-wrap: break-word; word-break: break-all;">
                    <thead>
                        <tr class="statistics-color row">
                            <th class="text-center">单位名称</th>
                            <th class="text-center">所属地区</th>
                            <th class="text-center">勘查甲级</th>
                            <th class="text-center">施工一级</th>
                            <th class="text-center">监察甲级</th>
                            <th class="text-center">法定代表人</th>
                            <th class="text-center">注册资金</th>
                            <th class="text-center">地址</th>
                            <th class="text-center">单位性质</th>
                            <th class="text-center">资质人员数</th>
                        </tr>
                    </thead>
                    <tbody id="qualificationUnit">
                        <tr class="row text-center">
                            <td colspan="10">
                                <h5>数据加载中...</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- 分页 -->
            <div class="row paging">
                <div class="M-box4"></div>
            </div>
        </div>
    </div>
    <!-- 统计表格1 end -->

    <!-- 底部 start -->
    <div class="footer">
        <div class="container footer-content">
            <div class="row">
                <p>
                    <a href="contactTel-statement.html">网站声明</a>
                    <a href="contactTel-statement.html">联系我们</a>
                </p>
                <i></i>
            </div>
            <b>Copyright © 2017 国家文物局版权所有</b>
        </div>
    </div>
    <!-- 底部 end -->

    <!-- 模态框 start -->
    <div id="modal">
        <div class="modal-bg"></div>
        <div id="modalBox" class="modal-box-2 modal-small">
            <div class="modal-title">
                <i>禁止性要求</i>
                <span class="modal-close">&times;</span>
            </div>
            <div class="m-content">
                <p class="modal-ctx">
                    test
                </p>
                <p class="modal-sure" style="">
                    <em>确认</em>
                </p>
            </div>
        </div>
    </div>
    <!-- 模态框 end -->

    <div id="test-edit-modal"></div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../js/common/jquery-1.9.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/common/bootstrap.min.js"></script>
    <script src="../js/common/ie10-viewport-bug-workaround.js"></script>
    <script src="../js/common/pageSwitch.min.js"></script>
    <script src="../js/common/pagination.js"></script>
    <script src="../js/common/main.js"></script>
    <script src="../js/common/common.js"></script>
    <script src="../js/service/cul-protection-unit-info.js"></script>
    
    <script src="../js/common/paging.js"></script>
    <script src="../js/common/jquery.pagination.js"></script>

    <!-- 模板 start -->
    <script id="tQualificationUnitList" type="text/template"> <!-- 考古发掘资质单位名单 -->
        <tr class="row text-center">
            <td width="20%"><a href="" data-unitCode="$unitCode$">$unitName$</a></td>
            <td width="7%"><span>$provinceName$</span></td>
            <td width="7%">$unitQualiDesign$</td>
            <td width="7%">$unitQualiBuild$</td>
            <td width="7%">$unitQualiWatch$</td>
            <td width="6%">$lawName$</td>
            <td width="8%">$regMoney$</td>
            <td width="17%">$address$</td>
            <td width="16%">$economicType$</td>
            <td width="5%">$personCount$</td>
        </tr>
    </script>
    <!-- 模板 end -->

</body>
</html>