<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>公共信息服务搜索</title>
  <link href="../css/common/ie10-viewport-bug-workaround.css" rel="stylesheet">
  <!-- Bootstrap -->
  <link href="../css/common/bootstrap.min.css" rel="stylesheet">
  <link href="../css/common/pageSwitch.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/common/pagination.css">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <link href="../css/common/common.css" rel="stylesheet">
  <link href="../css/service/herit-auction-info.css" rel="stylesheet">
  <style>
    .unmovable table tbody tr:hover{
      background-color: transparent;
    }
  </style>
</head>
<body>
<!-- 头部 start -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">切换导航</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../index.html"><img class="custom-logo" src="../img/custom-logo.png"/><span class="adapt-webtitle visible-lg">国家文物局<br>综合行政管理平台</span></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav custom-navbar">
          <li><a href="../index.html">首页</a></li>
          <li><a href="../approval/admin-approval-manage.html">行政审批管理</a></li>
          <li><a href="../public/gov-info-open.html">政府信息公开</a></li>
          <li><a href="../industry/integrated-manage.html">行业综合管理</a></li>
          <li class="active"><a href="../service/public-info-service.html">公共信息服务</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right custom-navbar-right">
          <li class="user-info">
            <img src="../img/login.png" alt="">
            <span class="login-2">登录</span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- 头部 end -->

<!-- 左侧侧边栏 start -->
  <div class="left-bar hidden-xs">
    <div>
        <a href="" class="leftlink">

        </a>
    </div>
    <div>
        <a href="../administrative-approval.html">

        </a>
    </div>
    <div>
        <a href="../policy-and-regulations.html">

        </a>
    </div>
    <div>
        <a href="download.html">

        </a>
    </div>
  </div>
<!-- 左侧侧边栏 end -->

<!-- 右侧侧边栏 start -->
  <div class="right-bar hidden-xs">
    <div>
      <a href="" class="rightlink">

      </a>
    </div>
    <div>
      <a href="../complaint-box.html">

      </a>
    </div>
  </div>
<!-- 右侧侧边栏 end -->

<!-- 巨幕 全国重点文物保护单位 start -->
  <div class="giant-screen ii1 jumbotron text-center">
    <h3 class="" id="title">文物拍卖企业信息表（2017.10.10 更新 共454家）</h3>
    <div class="container museum" id="list">
      <div class="search-info">
        <div class="row classification text-center" id="classification">
          <a class="tip" href="../details.html?public=more&sheet=office&standardRed=&id=3184">说明：按照《关于做好拍卖企业经营文物拍卖许可审批工作的通知》要求，各省、自治区、直辖市文物行政部门应于开展《文物拍卖许可证》审批、年审、变更、注销等工作后30个工作日内，将相关信息报国家文物局备案。信息报备邮箱：wenwupaimai@126.com</a>
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 classification-left">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-inline">
              <label for="" class="ii1">注册地：</label>
              <select class="form-control ii1" id="province">

              </select>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-inline">
              <label for="" class="ii1">企业名称：</label>
              <input type="text" class="form-control ii1" placeholder="" id="instName">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-inline second-line">
              <label for="" class="ii1">许可证号：</label>
              <input type="text" class="form-control ii1" placeholder="" id="permitNo">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-inline second-line">
              <label for="" class="ii1">姓名：</label>
              <input type="text" class="form-control ii1" placeholder="法定代表人 / 文物拍卖专业人员" id="UserName">
            </div>
          </div>
          <div class="col-lg-2 museum-right" style="">
              <a style="" href="collection-of-cultural-relics-details.html" target="_blank" class="" id="search">检索</a>            
              <a href="" id="reset">重置</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- 巨幕 全国重点文物保护单位 end -->

<!-- 统计表格1 start -->
  <div class="statistics unmovable">
    <div class="container unmovableContent"> 
      <div class="modal-box">
        <img src="../img/loading.gif" alt="" width="50">
      </div>     
      <table id="mergeCells">
        <thead>  
          <tr>
            <th rowspan="3"><span>注册地</span></th>
            <th rowspan="3"><span>分序号</span></th>
            <th rowspan="3"><span>企业名称</span></th>
            <th rowspan="3"><span>许可证号</span></th>
            <th rowspan="3"><span>法定代表人</span></th>
            <th colspan="3"><span>文物拍卖专业人员</span></th>
            <th rowspan="3"><span>证书状态</span></th>
          </tr>
          <tr>
            <th><span>类别</span></th>
            <th><span>姓名</span></th>
            <th><span>原单位</span></th>
          </tr>
        </thead>
        <tbody id="infoSheet">
          <tr>
            <td colspan="9"><span>加载中...</span></td>
          </tr>
        </tbody>
      </table>
      <!-- 分页 -->
      <div class="row paging">
        <div class="M-box4"></div>
      </div>
    </div>
  </div>
<!-- 统计表格1 end -->

<!-- 底部 start -->
    <div class="footer">
      <div class="container footer-content">
        <div class="row">
            <p><a href="../website-statement.html">网站声明</a><a href="../website-statement.html">联系我们</a></p>
            <i></i>
        </div>
      <b>Copyright © 2017 国家文物局版权所有</b>
      </div>
    </div>
<!-- 底部 end -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="../js/common/jquery-1.9.1.min.js"></script> 
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../js/common/bootstrap.min.js"></script>
  <script src="../js/common/ie10-viewport-bug-workaround.js"></script>
  <script src="../js/common/pageSwitch.min.js"></script>
  <script src="../js/common/pagination.js"></script>
  <script src="../js/common/main.js"></script>
  <script src="../js/common/common.js"></script>
  <script src="../js/service/herit-auction-info.js"></script>
  
  <script src="../js/common/paging.js"></script>
  <script src="../js/common/jquery.pagination.js"></script>

 <!-- 模板 start -->
  <script id="tInfoSheet" type="text/template">
    <tr>
      <td width="5%"><span>$provinceName$</span></td>
      <td width="5%"><span>$subNum$</span></td>
      <td width="20%"><span>$instName$</span></td>
      <td width="20%"><span>$permitNo$</span></td>
      <td width="7%"><span>$corpName$</span></td>
      <td width="16%"><span>$roleClassName$</span></td>
      <td width="7%"><span>$userName$</span></td>
      <td width="10%"><span>$lastInst$</span></td>
      <td width="10%"><span>$certStatusName$</span></td>
    </tr>
  </script>
  <!-- 模板 end -->
</body>
</html>