<!-- 模态框（Modal） -->
<div class="modal modal-box fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
				</button>
				<h3 class="modal-title" id="myModalLabel">
					人员基本信息
				</h3>
			</div>
			<div class="modal-body">
				<div id="modal-body" class="jquery-lightbox-html" style="height: 550px;overflow-y: auto;">
					<div id="contentwrapper" class="contentwrapper" style="padding:0px;">
						<div class="dataTables_wrapper ">
							<table cellpadding="0" cellspacing="0" class="table ShowTable" style="background-color:white;">
								<tbody id="tbody_html">
									<tr>
										<td style="width:33%;">
											<label class="LabelTitle">人员序号：</label>
											<label class="LabelContent"></label>
										</td>
										<td style="width:33%;">
											<label class="LabelTitle">人员姓名：</label>
											<label class="LabelContent">阿布都艾尼·阿不都拉</label>
										</td>
										<td style="width:33%;">
											<label class="LabelTitle">身份证号码：</label>
											<label class="LabelContent">6501************59</label>
										</td>
									</tr>
									<tr>
										<td style="width:33%;">
											<label class="LabelTitle">设计资质：</label>
											<label class="LabelContent">责任设计师</label>
										</td>
										<td style="width:33%;">
											<label class="LabelTitle">施工资质：</label>
											<label class="LabelContent"></label>
										</td>
										<td style="width:33%;">
											<label class="LabelTitle">监理资质：</label>
											<label class="LabelContent"></label>
										</td>
									</tr>
									<tr>
										<td style="width:33%;">
											<label class="LabelTitle">设计业务范围：</label>
											<label class="LabelContent">古建筑,近现代重要史迹及代表性建筑,古文化遗址古墓葬</label>
										</td>
										<td style="width:33%;">
											<label class="LabelTitle">施工业务范围：</label>
											<label class="LabelContent"></label>
										</td>
										<td style="width:33%;">
											<label class="LabelTitle">监理业务范围：</label>
											<label class="LabelContent"></label>
										</td>
									</tr>
									<tr>
										<td style="width:33%;">
											<label class="LabelTitle">设计业务证书编号：</label>
											<label class="LabelContent">
												ZRSJ20060213 </label>
										</td>
										<td style="width:33%;">
											<label class="LabelTitle">施工业务证书编号：</label>
											<label class="LabelContent">
											</label>
										</td>
										<td style="width:33%;">
											<label class="LabelTitle">监理业务证书编号：</label>
											<label class="LabelContent">
											</label>
										</td>
									</tr>
									<tr>
										<td style="width:33%;">
											<label class="LabelTitle">资质单位：</label>
											<label class="LabelContent">
												<a href="/Unit/LibraryShow?Unit_ID=516f5a90-fd0c-4f28-9a31-288ed2262e5d&amp;lightbox[width]=90p&amp;lightbox[height]=90p"
												class="lightbox LinkTitle">新疆维吾尔自治区文物古迹保护中心</a>
											</label>

										</td>
										<td style="width:33%;">
											<label class="LabelTitle">出生日期：</label>
											<label class="LabelContent">1968年10月15日</label>
										</td>
										<td style="width:33%;">
											<label class="LabelTitle">联系方式：</label>
											<label class="LabelContent"></label>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--dataTables_wrapper-->
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->