a {
  text-decoration: none !important;
  vertical-align: middle;
}
th {
  white-space: nowrap;
}
td {
  vertical-align: middle !important;
}
.title h4 {
  margin: 20px 0;
}
.title i {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #F96868;
  border: 1px solid #D13535;
  border-radius: 100px;
  margin-right: 0.6%;
}
.gradient {
  background: #000000;
  background: -moz-linear-gradient(top, #000000 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #000000 0%, #ffffff 100%);
  background: -o-linear-gradient(top, #000000 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, #000000 0%, #ffffff 100%);
  background: linear-gradient(to bottom, #000000 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff', GradientType=0);
}
:root .gradient {
  filter: none;
}
/*兼容IE9*/
.provide .title h4 {
  margin: 20px 0;
}
.provide .title i {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #F96868;
  border: 1px solid #D13535;
  border-radius: 100px;
  margin-right: 0.6%;
}
.provide .regulations {
  height: 224px;
}
.provide .more {
  margin-top: -24px;
  font-size: 14px;
  color: #999999;
}
.provide .provide-table {
  width: 100%;
  font-size: 14px;
  border: 1px solid #D7D8D9;
  margin: 0;
  color: #526069;
}
.provide .provide-table .justify a {
  color: #526069;
}
.provide .provide-table .justify a:hover {
  text-decoration: underline !important;
  color: #62AAEC;
}
.provide .provide-table td + td {
  border-left: 1px solid #D7D8D9;
}
.provide .provide-table th,
.provide .provide-table td {
  height: 36px;
}
.provide .provide-table td a {
  color: #526069;
  max-width: 400px;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.provide .provide-table td i {
  font-style: normal;
  white-space: nowrap;
}
.provide .provide-table.visible-xs.ml5 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.provide .provide-table .provide-color {
  color: #fff;
  background-image: linear-gradient(-180deg, #65abe9 0%, #257dcb 100%);
}
.provide .provide-table .provide-color th {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#65ABE9', endColorstr='#257DCB');
  /*IE<9>*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr='#65ABE9', endColorstr='#257DCB')";
  /*IE8+*/
  line-height: 30px;
  position: relative;
  font-weight: normal;
}
.provide .provide-table .provide-color th:first-child:before {
  border-left: 0 none;
}
.provide .provide-table .provide-color th:before {
  content: '';
  width: 1px;
  height: 20px;
  display: block;
  position: absolute;
  border-left: 1px dashed #91C9FB;
  top: 9px;
  left: 0;
}
.provide .provide-table span {
  height: 2.5%;
  line-height: 19px;
  border: 1px solid #eee;
  border-top: 2px solid #eee;
  padding: 0.3% 2.1% 0.7% 2%;
  text-align: center;
  font-size: 14px;
  height: 35px;
  line-height: 30px;
}
.provide .card {
  padding-left: 0;
  padding-right: 30px;
}
.provide .card .box {
  position: relative;
  padding-right: 0;
  padding-left: 10px;
  margin: 0 auto;
  font-size: 14px;
  background-size: 100% auto;
  display: block;
}
.provide .card .box .box-content {
  border: 1px solid #DBDCDD;
  text-align: center;
  height: 224px;
}
.provide .card .box .box-content:hover {
  border-color: transparent;
  background-color: #86C1F9;
}
.provide .card .box .box-content a {
  padding-top: 50px;
  display: block;
  height: 100%;
}
.provide .card .box .box-content a i {
  width: 53px;
  height: 53px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 39px;
}
.provide .card .box .box-content a i.guide {
  background-image: url('../../img/guide.png');
}
.provide .card .box .box-content a i.annual-report {
  background-image: url('../../img/annual-report.png');
}
.provide .card .box .box-content a i.add-up {
  background-image: url('../../img/add-up.png');
}
.provide .card .box .box-content a i.application {
  background-image: url('../../img/application.png');
}
.provide .card .box .box-content a:hover {
  color: #fff;
}
.provide .card .box .box-content a:hover i.guide {
  background-image: url('../../img/guide-hover.png');
}
.provide .card .box .box-content a:hover i.annual-report {
  background-image: url('../../img/annual-report-hover.png');
}
.provide .card .box .box-content a:hover i.add-up {
  background-image: url('../../img/add-up-hover.png');
}
.provide .card .box .box-content a:hover i.application {
  background-image: url('../../img/application-hover.png');
}
.provide .card .box .box-content a span {
  font-size: 14px;
  white-space: nowrap;
  display: inline-block;
  transform: translateY(-20px);
}
.catalog .catalog-classification {
  position: relative;
}
.catalog .catalog-classification .modalbox {
  position: absolute;
  width: 100%;
  height: 256.8px;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
}
.catalog .title h4 {
  margin: 20px 0;
}
.catalog .title i {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #F96868;
  border: 1px solid #D13535;
  border-radius: 100px;
  margin-right: 0.6%;
}
.catalog em {
  background: url('../../img/gradient.png') no-repeat center center;
  display: inline-block;
  width: 432px;
  height: 34px;
  line-height: 34px;
  text-indent: 20px;
  font-size: 14px;
  border-radius: 20px;
  font-weight: bold;
  font-style: normal;
  color: #62AAEC;
  margin-bottom: 20px;
}
.catalog p {
  margin-bottom: -3px;
}
.catalog p.visible-xs.ml5 {
  margin-left: 20px;
}
.catalog p.visible-xs.ml5 .more {
  margin-right: 20px;
}
.catalog span {
  cursor: pointer;
  background-image: linear-gradient(0deg, #e3e4e8, #fefefe);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FEFEFE', endColorstr='#E3E4E8');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr='#FEFEFE', endColorstr='#E3E4E8')";
  height: 2.5%;
  line-height: 19px;
  border: 1px solid #eee;
  border-top: 2px solid #eee;
  padding: 8px 25px 8px 25px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  height: 35px;
  line-height: 16px;
}
.catalog span.on {
  border-color: #60A9EB;
  color: #60A9EB;
  background-image: none;
  filter: none;
  -ms-filter: none;
}
.catalog .more {
  float: right;
  font-size: 14px;
  color: #999999;
  margin-top: -14px;
}
.catalog .mechanism {
  margin-bottom: 20px;
}
.catalog .mechanism .catalog-table {
  width: 100%;
  font-size: 14px;
  border: 1px solid #D7D8D9;
  margin: 0;
  color: #526069;
}
.catalog .mechanism .catalog-table .justify a {
  color: #526069;
}
.catalog .mechanism .catalog-table .justify a:hover {
  text-decoration: underline !important;
  color: #62AAEC;
}
.catalog .mechanism .catalog-table td + td {
  border-left: 1px solid #D7D8D9;
}
.catalog .mechanism .catalog-table th,
.catalog .mechanism .catalog-table td {
  height: 36px;
}
.catalog .mechanism .catalog-table td a {
  max-width: 570px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.catalog .mechanism .catalog-table.visible-xs.ml5 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.catalog .mechanism .catalog-table .catalog-color {
  color: #fff;
}
.catalog .mechanism .catalog-table .catalog-color th {
  line-height: 30px;
  position: relative;
  background-color: #62AAEC;
  font-weight: normal;
}
.catalog .mechanism .catalog-table .catalog-color th:first-child:before {
  border-left: 0 none;
}
.catalog .mechanism .catalog-table .catalog-color th:before {
  content: '';
  width: 1px;
  height: 20px;
  display: block;
  position: absolute;
  border-left: 1px dashed #91C9FB;
  top: 9px;
  left: 0;
}
.catalog .mechanism .catalog-table span {
  height: 2.5%;
  line-height: 19px;
  border: 1px solid #eee;
  border-top: 2px solid #eee;
  padding: 0.3% 2.1% 0.7% 2%;
  text-align: center;
  font-size: 14px;
  height: 35px;
  line-height: 30px;
}
.theme .content {
  position: relative;
  margin-left: 16px;
  margin-right: 16px;
  background-color: #EBEBEB;
}
.theme .content .sort {
  overflow-x: visible;
}
.theme .content .modal-box {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 10;
  display: none;
}
.theme .content .modal-box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.theme .content ul.theme {
  padding-top: 20px;
}
.theme .content ul li.decoration + li {
  position: relative;
}
.theme .content ul li.decoration + li:before {
  content: '';
  width: 1px;
  height: 20px;
  position: absolute;
  border-left: 1px solid #0E0E0E;
  top: 2px;
  left: 0;
}
.theme .content ul li.decoration a {
  font-size: 16px;
  color: #0E0E0E;
  padding-left: 5px;
  padding-right: 5px;
}
.theme .content ul li.decoration a:hover {
  color: #62AAEC;
  text-decoration: underline !important;
}
.theme .content ul li.decoration.current a {
  color: #62AAEC;
  text-decoration: underline !important;
}
.theme .content ul b {
  width: 1px;
  height: 17px;
  display: inline-block;
  background-color: #0E0E0E;
  position: relative;
  top: 3px;
}
.theme .content ul + ul {
  padding-top: 0;
}
.theme .content .catalog-table {
  width: 100%;
  font-size: 14px;
  border-bottom: 1px solid #D7D8D9;
  margin: 0;
  margin-top: 31px;
  color: #526069;
}
.theme .content .catalog-table .justify a {
  color: #526069;
}
.theme .content .catalog-table .justify a:hover {
  text-decoration: underline !important;
  color: #62AAEC;
}
.theme .content .catalog-table td + td {
  border-left: 1px solid #D7D8D9;
}
.theme .content .catalog-table th,
.theme .content .catalog-table td {
  height: 36px;
}
.theme .content .catalog-table td a {
  max-width: 543px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.theme .content .catalog-table td.postoffice {
  max-width: 184px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.theme .content .catalog-table.visible-xs.ml5 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.theme .content .catalog-table .catalog-color {
  font-size: 18px;
  color: #202020;
}
.theme .content .catalog-table .catalog-color th {
  line-height: 30px;
  font-weight: normal;
  position: relative;
  font-size: 14px;
  color: #526069;
  background: #F6F6F6;
  box-shadow: 0 1px 0 0 rgba(153, 153, 153, 0.5);
}
.theme .content .catalog-table .catalog-color th:first-child:before {
  border-left: 0 none;
}
.theme .content .catalog-table .catalog-color th:before {
  content: '';
  width: 1px;
  height: 20px;
  display: block;
  position: absolute;
  border-left: 1px dashed #A1A1A1;
  top: 9px;
  left: 0;
}
.theme .content .catalog-table span {
  height: 2.5%;
  line-height: 19px;
  border: 1px solid #eee;
  border-top: 2px solid #eee;
  padding: 0.3% 2.1% 0.7% 2%;
  text-align: center;
  font-size: 14px;
  height: 35px;
  line-height: 30px;
}
.theme .content .paging {
  padding-top: 25px;
  padding-bottom: 15px;
  position: relative;
  text-align: center;
}
.theme .content .paging .further {
  position: absolute;
  right: 26px;
  top: 32px;
  font-size: 14px;
  color: #999999;
}
.theme img {
  margin-top: -7px;
}
.press {
  margin-bottom: 20px;
}
.classify {
  margin-top: 20px;
}
.classify em {
  background-image: linear-gradient(90deg, #e4f2ff 0%, #ffffff 100%);
  display: inline-block;
  width: 432px;
  height: 34px;
  line-height: 34px;
  text-indent: 20px;
  font-size: 14px;
  border-radius: 20px;
  font-weight: bold;
  font-style: normal;
  font-family: MicrosoftYaHei;
  color: #62AAEC;
  margin-bottom: 20px;
}
.classify p {
  margin-bottom: 0;
}
.classify p.visible-xs.ml5 {
  margin-left: 20px;
}
.classify p.visible-xs.ml5 .more {
  margin-right: 20px;
}
.classify span {
  cursor: pointer;
  background-image: linear-gradient(0deg, #e3e4e8, #fefefe);
  height: 2.5%;
  line-height: 19px;
  border: 1px solid #eee;
  border-top: 2px solid #eee;
  padding: 0.3% 2.1% 0.7% 2%;
  text-align: center;
  font-size: 14px;
  height: 35px;
  line-height: 30px;
}
.classify span.on {
  border-color: #60A9EB;
  color: #60A9EB;
  background-image: none;
}
.classify .more {
  float: right;
  font-size: 14px;
  color: #999999;
  margin-top: 5px;
}
.classify .catalog-table {
  width: 100%;
  font-size: 14px;
  border: 1px solid #D7D8D9;
  margin: 0;
  color: #526069;
}
.classify .catalog-table td + td {
  border-left: 1px solid #D7D8D9;
}
.classify .catalog-table th,
.classify .catalog-table td {
  height: 36px;
}
.classify .catalog-table.visible-xs.ml5 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.classify .catalog-table .catalog-color {
  color: #fff;
}
.classify .catalog-table .catalog-color th {
  line-height: 30px;
  position: relative;
  background-color: #62AAEC;
}
.classify .catalog-table .catalog-color th:first-child:before {
  border-left: 0 none;
}
.classify .catalog-table .catalog-color th:before {
  content: '';
  width: 1px;
  height: 20px;
  display: block;
  position: absolute;
  border-left: 1px dashed #91C9FB;
  top: 9px;
  left: 0;
}
.classify .catalog-table span {
  height: 2.5%;
  line-height: 19px;
  border: 1px solid #eee;
  border-top: 2px solid #eee;
  padding: 0.3% 2.1% 0.7% 2%;
  text-align: center;
  font-size: 14px;
  height: 35px;
  line-height: 30px;
}
.attention .title h4 {
  margin: 20px 0;
}
.attention .title i {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #F96868;
  border: 1px solid #D13535;
  border-radius: 100px;
  margin-right: 0.6%;
}
.attention .matter {
  margin: 0;
}
.attention .matter div:first-child {
  background: #E5EAED;
}
.attention .matter .download {
  padding-right: 0;
  padding-left: 40px;
}
.attention .matter .download a {
  height: 130px;
  font-size: 14px;
  color: #FFFFFF;
  display: block;
  background-color: #65ABE9;
  text-align: center;
}
.attention .matter .download a img {
  width: 50px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.attention .matter .download a + a {
  margin-top: 17px;
}
.attention .matter span {
  font-size: 18px;
  color: #526069;
  display: block;
  border-bottom: 1px solid #606D76;
  padding-bottom: 10px;
  margin: 10px 0;
}
.attention .matter .list p {
  font-size: 14px;
  color: #526069;
  letter-spacing: 0;
  line-height: 1.7em;
  margin: 0;
  margin-top: 3px;
}
.page-box {
  display: inline-block;
}
.page-contain {
  text-align: center;
  font-size: 0px;
}
.page-contain a {
  font-size: 14px;
  padding: 4px 10px;
  background: #fff;
  border: 1px solid #D4D4D4;
  color: #606060;
  margin: 0 8px;
  background-color: #E6E6E6;
}
.page-contain a:hover {
  color: #568dbd;
  border-color: #62AAEC;
  background-color: #D6ECFF;
}
.page-contain a.active {
  background: #D6ECFF;
  color: #568dbd;
  border-color: #62AAEC;
}
@media (max-width: 767px) {
  .provide .title i,
  .catalog .title i,
  .attention .title i {
    margin-right: 10px;
  }
  .provide .card {
    margin-top: 20px;
    padding-right: 15px;
  }
  .provide .card > div {
    margin-left: 0;
    margin-right: 0;
  }
  .provide .card .box {
    margin-bottom: 10px;
  }
  .provide .card .box .box-content {
    height: 150px;
  }
  .catalog em,
  .classify em {
    width: 135px;
  }
  .attention .matter span {
    padding-top: 10px;
  }
  .attention .title h4 {
    margin-bottom: 10px;
  }
  .attention .matter .download {
    padding-left: 0;
    margin-top: 20px;
  }
  .attention .matter div:first-child {
    padding-bottom: 10px;
  }
  .page-contain a {
    padding: 0px 5px;
    margin: 0 3px;
  }
  .paging {
    text-align: center;
  }
  .theme .content .paging {
    width: 270%;
  }
  .theme .content {
    margin-left: auto;
    margin-right: auto;
  }
  .provide .card .box .box-content a {
    padding-top: 30px;
  }
  .catalog p {
    white-space: nowrap;
    overflow-x: auto;
  }
  .catalog span {
    padding: 8px 12px 8px 12px;
  }
  .theme .content .sort {
    overflow-x: auto;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .provide .card {
    margin-top: 20px;
  }
  .provide .card .box {
    padding-left: 30px;
  }
  .catalog .mechanism .catalog-table .catalog-color th {
    white-space: nowrap;
  }
  .catalog .mechanism .catalog-table td a {
    white-space: normal;
  }
  .theme .content .catalog-table th {
    white-space: nowrap;
  }
  .theme .content .catalog-table td a {
    white-space: normal;
  }
  .catalog p {
    overflow-x: auto;
    white-space: nowrap;
  }
  .catalog span {
    padding: 10px 12px;
    line-height: 12px;
  }
  .M-box a,
  .M-box1 a,
  .M-box2 a,
  .M-box3 a,
  .M-box4 a {
    margin: 0 2px;
    padding: 3px 9px;
  }
  .M-box a,
  .M-box1 a,
  .M-box2 a,
  .M-box3 a,
  .M-box4 a,
  .M-box .active,
  .M-box1 .active,
  .M-box2 .active,
  .M-box3 .active,
  .M-box4 .active {
    padding: 3px 9px;
  }
  .M-box span,
  .M-box1 span,
  .M-box2 span,
  .M-box3 span,
  .M-box4 span {
    margin: 0 2px;
    padding: 3px 9px;
  }
  .paging input {
    height: 28px;
    width: 45px;
    margin: 0 2px;
  }
  .theme .content .paging .further {
    top: 6px;
  }
  .theme .content .paging {
    padding-top: 35px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .provide .card {
    padding-right: 0;
    margin-top: 20px;
  }
  .provide .card .box {
    padding-left: 30px;
    padding-right: 30px;
  }
  .catalog span {
    padding: 8px 15px;
  }
  .catalog .mechanism .catalog-table td a {
    max-width: none;
  }
  .theme .content .catalog-table td a {
    white-space: normal;
  }
  .provide .provide-table td a {
    max-width: none;
  }
}
@media (min-width: 1200px) and (max-width: 1280px) {
  .provide .provide-table td a {
    max-width: 375px;
  }
  .provide .provide-table td i {
    max-width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
  }
  .catalog .mechanism .catalog-table td a {
    max-width: none;
    white-space: normal;
  }
  .theme .content .catalog-table td a {
    max-width: none;
    white-space: normal;
  }
  .theme .content ul li.decoration a {
    padding-left: 3.5px;
    padding-right: 3.5px;
  }
}
