<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<title>政策法规库</title>
	<link href="css/common/ie10-viewport-bug-workaround.css" rel="stylesheet">
	<!-- Bootstrap -->
	<link href="css/common/bootstrap.min.css" rel="stylesheet">
	<link href="css/common/pageSwitch.min.css" rel="stylesheet">
	<link href="css/common/jquery.cxcalendar.css" rel="stylesheet" >
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
			<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	<link href="css/common/common.css" rel="stylesheet">
	<link href="css/policy-and-regulations.css" rel="stylesheet">
</head>
<body>
	<!-- 头部 start -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">切换导航</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="./index.html">
					<img class="custom-logo" src="img/custom-logo.png" />
					<span class="adapt-webtitle visible-lg">国家文物局
						<br>综合行政管理平台</span>
				</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav custom-navbar">
					<li>
						<a href="index.html">首页</a>
					</li>
					<li>
						<a href="approval/admin-approval-manage.html">行政审批管理</a>
					</li>
					<li class="active">
						<a href="public/gov-info-open.html">政府信息公开</a>
					</li>
					<li>
						<a href="industry/integrated-manage.html">行业综合管理</a>
					</li>
					<li>
						<a href="service/public-info-service.html">公共信息服务</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right custom-navbar-right">
					<li class="user-info">
						<img src="img/login.png" alt="">
						<span class="login-2">登录</span>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- 头部 end -->

<!-- 左侧侧边栏 start -->
	<div class="left-bar hidden-xs">
		<div>
			<a href="" class="leftlink">

			</a>
		</div>
		<div>
			<a href="administrative-approval.html">

			</a>
		</div>
		<div>
			<a href="policy-and-regulations.html">

			</a>
		</div>
		<div>
			<a href="download.html">

			</a>
		</div>
	</div>
<!-- 左侧侧边栏 end -->

<!-- 右侧侧边栏 start -->
	<div class="right-bar hidden-xs">
		<div>
			<a href="" class="rightlink">

			</a>
		</div>
		<div>
			<a href="complaint-box.html">

			</a>
		</div>
	</div>
<!-- 右侧侧边栏 end -->

<div id="content-height">
<!-- 当前位置 政府信息公开 政策法规库 start -->
	<div class="regulations">
		<div class="container">
			<i class="house"></i><span>当前位置 >> </span><span>政策法规库</span>
			<div class="row">
				<div class="col-lg-9 regulations-left">
					<div class="import" id="import">
						<div class="row">
							<div class="col-lg-6 form-inline date">
								<label for="postdate">发布日期：</label>        
								<input class="form-control calendar" id="postdate" name="mydate" type="text" readonly>
							</div>
							<div class="col-lg-6 form-inline date">
								<label for="worddate">成文日期：</label>
								<input class="form-control calendar" id="worddate" name="mydate" type="text" readonly>
							</div>
							<div class="col-lg-6 form-inline">
								<label for="">标&ensp;&ensp;&ensp;&ensp;题：</label>
								<input type="text" class="form-control" id="title" placeholder="">
							</div>
							<div class="col-lg-6 form-inline">                
								<label for="">全&ensp;&ensp;&ensp;&ensp;文：</label>
								<input type="text" class="form-control" id="content" placeholder="">
							</div>
							<div class="col-lg-5 form-inline pick">
								<label for="">发文字号：</label>
								<select class="form-control num num1" id="postnumbeg">
								</select>
							</div>
							<div class="col-lg-4 form-inline pick">
								<label for="">年份：</label>
								<select class="form-control num num2" id="postnummid">
								</select>
							</div>
							<div class="col-lg-3 form-inline">
								<input type="text" class="form-control num num3" id="postnumend" placeholder="">&ensp;<label for="">号</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 retrieve">
					<div class="retrieve-right">
						<center><a href="" target="_blank" class="btn btn-default" id="search">检索</a></center>
						<center><a href="" class="btn btn-default reset" id="reset">重置信息</a></center>
					</div>
				</div>
			</div>
			<div class="col-lg-1"></div>
			<div class="menu col-lg-10" id="menu">
			</div>
			<div class="col-lg-1"></div>
		</div>
	</div>
<!-- 当前位置 政府信息公开 政策法规库 end -->

	<!-- 最新 start -->
	<div class="container up-to-date">
		<div class="row">
		<!-- 左侧 表格 start -->
			<div class="col-lg-12">
				<div class="up-to-date-left">
					<table class="table table-hover up-to-date-table table-condensed">
						<thead>
							<tr class="provide-color row">
									<th class="text-center col-lg-1">序号</th>
									<th class="text-center col-lg-2">发文字号</th>
									<th class="text-center col-lg-7">标题</th>
									<th class="text-center col-lg-2">发布日期</th>
									<!-- <th class="text-center col-lg-2">发文机构</th> -->
							</tr>
						</thead>
						<tbody id="reference-body">
							<tr class="row">
								<td class="col-lg-1"></td>
								<td class="col-lg-2"></td>
								<td class="col-lg-7"></td>
								<td class="col-lg-2"></td>
							</tr>
						</tbody>
					</table>
					<!-- <a class="pull-right" href="search-details.html?column=&pagenum=&pagesize=&indexnum=&postdate=&worddate=&title=&postnumbeg=&postnummid=&postnumend=&postorg=&content=" target="_blank" id="more">更多</a> -->
				</div>
			</div>
		<!-- 左侧 表格 end -->
		</div>
	</div>
	<!-- 最新 end -->
</div>

<!-- 底部 start -->
	<div class="footer">
		<div class="container footer-content">
			<div class="row">
				<p><a href="website-statement.html">网站声明</a><a href="website-statement.html">联系我们</a></p>
				<i></i>
			</div>
		<b>Copyright © 2017 国家文物局版权所有</b>
		</div>
	</div>
<!-- 底部 end -->

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/common/jquery-1.9.1.min.js"></script> 
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/common/bootstrap.min.js"></script>
	<script src="js/common/ie10-viewport-bug-workaround.js"></script>
	<script src="js/common/pageSwitch.min.js"></script>
	<script src="js/common/jquery.cxcalendar.min.js"></script>
	<script src="js/common/jquery.cxcalendar.languages.js"></script>
	<script src="js/common/main.js"></script>
	<script src="js/common/common.js"></script>
	<script src="js/policy-and-regulations.js"></script>  
	
	<!-- 模板 start -->
	<script id="tMenu" type="text/template">
		<div class="col-lg-2 item">
			<span class="" data-id="$classId$" data-index="$idx$">$infoNumBeg$</span>
		</div>
	</script>

	<script id="tReference" type="text/template">
		<tr class="row text-center">
			<td class="col-lg-1">$i$</td>
			<td class="col-lg-2">$infoNum$</td>
			<td class="col-lg-7 text-justify justify"><a href="details.html?zcfgk=par&id=$infoID$&column=$column$" target="_blank">$infoTitle$</a></td>
			<td class="col-lg-2">$displayDate$</td>
			<!-- <td class="col-lg-2">$postOffice$</td> -->
		</tr>
	</script>
	<!-- 模板 end -->
</body>
</html>