.page-group > p{
    padding: 4px 12px;
    margin-left: -1px;
    margin: 0;
    line-height: 1.6;
    color: #76838f;
    border: 1px solid #e4eaec;
    cursor: pointer;
}
.page-group > p:first-child {
    border-right: 0;
    color: #fff;
}
.page-group > p:last-child {
    border-left: 0;
    color: #fff;
}
.page-group > p.disabled {
    /*color: #d2d9de;*/
    cursor: default;
}
#data1-page-info{
    cursor: default;
}
.table-wrap{
    min-height: 384px;
}