<title>系统意见反馈</title>
<link rel="stylesheet" href="/css/app/f-gover-approval/haveToDo.css" />
<link rel="stylesheet" href="/vendor/bootstrap-datepicker/bootstrap-datepicker.css">

<div class="page animation-fade page-tables">
    <div class="page-content">
        <div class="panel">
            <div class="panel-body container-fluid">
                <div class="text-center font-size-26">系统意见反馈</div>
                <div class="row row-lg">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="form-wrap">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        意见名称
                                    </span>
                                    <input type="text" class="form-control" id="suggestName" placeholder="" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <div class="form-wrap">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        反馈人姓名
                                    </span>
                                    <input type="text" class="form-control" id="subUserName" placeholder="" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <div class="form-wrap">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        联系电话
                                    </span>
                                    <input type="text" class="form-control" id="subPhoneNo" placeholder="" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <div class="form-wrap">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        单位名称
                                    </span>
                                    <input type="text" class="form-control" id="unitName" placeholder="" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <div class="form-wrap">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        所属系统
                                    </span>
                                    <select class="form-control" data-dic="SysClass" id="belongSys"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-wrap">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        问题描述
                                    </span>
                                    <textarea class="form-control" rows="8" id="problemDesc"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-wrap">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        修改建议
                                    </span>
                                    <textarea class="form-control" rows="8" id="alterAdvice"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="text-center margin-top-20">
                            <button class="btn btn-info" id="cmx-button-submit">提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/app/f-administrative-platform-protal/questionnaire.js"></script>
</body>

</html>