<!DOCTYPE html>
<html lang="zh-cn">
<style>
    .panel {
        box-shadow: 0 0 0 !important;
        -webkit-box-shadow: 0 0 0 !important;
    }
</style>

<head>
    <title>找回密码</title>

    <link rel="stylesheet" href="/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="/themes/classic/base/css/site.css" id="admui-siteStyle">

    <script src="/themes/classic/global/js/cmx-route.js"></script>
    <script src="/themes/classic/global/js/main.js"></script>
    <script src="/themes/classic/global/js/openapi.js"></script>
    <script src="/themes/classic/global/js/md5.min.js"></script>
</head>

<body>
    <div class="page page-full">
        <div class="page-content vertical-align-top">
            <div class="row">
                <div class="col-xs-12 col-sm-offset-2 col-md-8 cmx-block" style="box-shadow: 0px 0px 15px -2px #888888;
            ">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">找回密码</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-6 col-sm-offset-3 margin-vertical-35 codeDiv">
                                <div class="form-group row">
                                    <input type="text" class="form-control" name="" placeholder="用户名" autocomplete="off" id="changepw-username" style="width: 100%;height:42px;">
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-7 padding-left-0">
                                        <input type="text" class="form-control" id="imgCode" name="imgCode" placeholder="请输入验证码" style="width: 100%;height:42px;">
                                    </div>
                                    <div class="col-xs-5 padding-right-0" style="height:42px;text-align: center;">
                                        <img src="/images/custom/chk-loding.png" id="cmx-chk-image" style="width: 100%;height:42px;" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-7 padding-left-0">
                                        <input type="number" class="form-control" id="validCode" name="validCode" placeholder="手机验证码" oninput="if(value.length>6)value=value.slice(0,6)"
                                            style="width: 100%;height:42px;">
                                    </div>
                                    <div class="col-xs-5 padding-right-0" style="text-align: center;">
                                        <button class="btn btn-primary getcode" type="button" style="width: 100%;height:42px;">获取验证码</button>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-12 padding-left-0 padding-right-0">
                                        <button class="btn btn-default" type="button" onclick="location.href='/login.html'">返回登录页面</button>
                                        <button class="btn btn-primary checkcode pull-right" type="button">下一步</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-sm-offset-3 passwordDiv" style="display:none;">
                                <div class="form-group">
                                    <input type="password" name="newPwd" class="form-control" id="newPwd" placeholder="请输入新密码" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="confirm" class="form-control" id="confirm-newPwd" placeholder="请再次输入新密码" autocomplete="off">
                                </div>
                                <div class="padding-top-10">
                                    <button class="btn btn-primary pull-right changepassword" type="button">确认修改</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="red-500 center-block width-300">技术平台联系电话：18500430019（刘老师） </div>
    </div>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/js/app/f-gover-approval/models/public-model.js"></script>
    <script src="/js/app/f-administrative-platform-protal/retrieve-password.js"></script>
</body>

</html>