@media (min-width: 768px) {
  .modal-box .modal-dialog {
    width: 85%;
    margin: 30px auto;
  }
}
.modal-box .modal-body {
  padding: 0 15px;
}
.modal-box .modal-title {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #0088cc;
}
.modal-box .modal-header {
  padding: 5px 10px;
  border-bottom: 0 none;
}
.modal-box .close {
  font-size: 40px;
  font-weight: lighter;
  outline: none;
  margin-top: 5px;
}
.modal-box .ShowTable {
  font-size: 14px;
}
.modal-box .LabelTitle,
.modal-box .LabelContent {
  display: inline;
}
.modal-box .LabelTitle {
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
  margin-right: 2px;
}
.modal-box .LabelContent {
  vertical-align: middle;
  font-size: 14px;
  margin-right: 2px;
  font-weight: normal;
}
.modal-box .table {
  border-collapse: collapse;
  width: 100%;
}
.modal-box .table tr td {
  padding: 7px 10px;
  border: 1px solid #ddd;
}
.giant-screen.protection-unit input[type="checkbox"] {
  min-width: auto;
}
.checkbox {
  height: 34px;
  line-height: 34px;
  margin: 0;
}
.checkbox span {
  font-weight: bold;
  display: inline-block;
}
.checkbox .fontweight {
  font-weight: bold;
  cursor: auto;
}
.checkbox.range {
  width: 84%;
}
.protection {
  height: 265px;
}
.protection .range {
  width: 97%;
}
.qualification-unit {
  height: 350px;
}
.qualification-unit label {
  padding-left: 10px;
}
.qualification-unit .range-1 {
  width: 115%;
}
.qualification-unit .range-2 {
  width: 121.5%;
}
.qualification-unit .range-2 label:nth-child(5) ~ label {
  float: left;
}
.qualification-unit .range-2 label:nth-child(6) {
  margin-left: 17px;
}
.ShowTable th {
  text-align: center;
}
.classification-left input[type="checkbox"] {
  display: none;
}
@media (max-width: 768px) {
  .qualification-unit {
    height: 450px;
  }
  .qualification-unit .range-1,
  .qualification-unit .range-2 {
    width: 100%;
  }
  .range-1 label {
    float: left;
    line-height: 25px;
  }
  .range-2 label {
    float: left;
    line-height: 25px;
  }
  .checkbox label {
    margin-left: 2px;
    padding-left: 2px;
  }
  .checkbox label span {
    margin-right: 2px;
  }
  .giant-screen .classification .classification-left div + div {
    margin-top: 12px;
  }
  .qualification-unit {
    height: 500px;
  }
  .classification-right {
    margin-top: 40px;
  }
}
@media (max-width: 615px) {
  .qualification-unit {
    height: 600px;
  }
  .qualification-unit .range-2 {
    margin-top: 70px !important;
  }
  .classification-right {
    margin-top: 100px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .range-1 label {
    float: left;
    line-height: 25px;
  }
  .range-2 label {
    float: left;
    line-height: 25px;
  }
  .checkbox {
    white-space: nowrap;
  }
  .checkbox label {
    margin-left: 2px;
    padding-left: 2px;
  }
  .checkbox label span {
    margin-right: 2px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .range-1 label {
    float: left;
    line-height: 25px;
  }
  .range-2 label {
    float: left;
    line-height: 25px;
  }
  .checkbox label {
    margin-left: 2px;
    padding-left: 2px;
  }
  .checkbox label span {
    margin-right: 3px;
  }
}
@media (min-width: 1200px) and (max-width: 1280px) {
  .range-1 label {
    float: left;
    line-height: 25px;
  }
  .range-2 label {
    float: left;
    line-height: 25px;
  }
}
