<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<title>依申请公开</title>
	<link rel="stylesheet" type="text/css" href="../css/public/webuploader.css" />
	<link rel="stylesheet" type="text/css" href="../css/common/style.css" />
	<link href="../css/common/ie10-viewport-bug-workaround.css" rel="stylesheet">
	<!-- Bootstrap -->
	<link href="../css/common/bootstrap.min.css" rel="stylesheet">
	<link href="../css/common/pageSwitch.min.css" rel="stylesheet">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
			<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	<link href="../css/common/common.css" rel="stylesheet">
	<link href="../css/public/public-application.css" rel="stylesheet">
	<link href="../css/public/webuploader.css" rel="stylesheet" />
	<link href="../css/public/cxuploader.css" rel="stylesheet" />
</head>
<body>
	<!-- 头部 start -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">切换导航</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="../index.html">
					<img class="custom-logo" src="../img/custom-logo.png" />
					<span class="adapt-webtitle visible-lg">国家文物局
						<br>综合行政管理平台</span>
				</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav custom-navbar">
					<li>
						<a href="../index.html">首页</a>
					</li>
					<li>
						<a href="../approval/admin-approval-manage.html">行政审批管理</a>
					</li>
					<li class="active">
						<a href="../public/gov-info-open.html">政府信息公开</a>
					</li>
					<li>
						<a href="../industry/integrated-manage.html">行业综合管理</a>
					</li>
					<li>
						<a href="../service/public-info-service.html">公共信息服务</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right custom-navbar-right">
					<li class="user-info">
						<img src="../img/login.png" alt="">
						<span class="login-2">登录</span>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- 头部 end -->

<!-- 左侧侧边栏 start -->
	<div class="left-bar hidden-xs">
		<div>
			<a href="" class="leftlink">

			</a>
		</div>
		<div>
			<a href="../administrative-approval.html">

			</a>
		</div>
		<div>
			<a href="../policy-and-regulations.html">

			</a>
		</div>
		<div>
			<a href="download.html">

			</a>
		</div>
	</div>
<!-- 左侧侧边栏 end -->

<!-- 右侧侧边栏 start -->
	<div class="right-bar hidden-xs">
		<div>
			<a href="" class="rightlink">

			</a>
		</div>
		<div>
			<a href="../complaint-box.html">

			</a>
		</div>
	</div>
<!-- 右侧侧边栏 end -->

<!-- 当前位置 依申请公开 start -->
	<div class="application-open">
		<div class="container">
			<i></i><span>当前位置 >></span><a href="gov-info-open.html"> 政府信息公开 </a><span>>> 依申请公开</span>
		</div>
	</div>
<!-- 当前位置 依申请公开 end -->

<!-- 填表注意事项 start -->
	<div class="container fill-in-the-form">
		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 fill-in-the-note">
				<h4>填表注意事项</h4>
				<div class="list">
					<p><i>1</i>申请人或组织必须完整、准确地填写本申请表，并对所填写内容的真实有效性负责。</p>
					<p><i>2</i>为提高政府信息公开申请办理效率，每张申请表仅限填写申请公开一项政府信息。</p>
					<p><i>3</i>申请人请附有效身份证件复印件，申请组织请附组织机构代码证或营业执照复印件；网上提交申请，请附扫描件或照片（附件要求：图片清晰，信息字样清楚，身份证正反两面处理为一张图片（仅提供单面视为无效），推荐格式为JPG/JPEG，大小在1MB以内），如有特殊需求，另附证明自身对申请公开的信息有需要的文件和材料。</p>
					<p><i>4</i>申请人或组织获取的信息只能用于填写的所需信息的目的、用途，凡因用于其它用途引起法律纠纷的，由申请人或组织承担相应法律责任。</p>
					<p><i>5</i>申请人或组织应在“所需信息的目的、用途”一栏中，对所需信息与自身生产、生活、科研等特殊需求做出合理说明。</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<div class="download">
					<a href="../resource/依申请公开申请表（下载版）20170309.doc" class="btn btn-small btn-primary" type="button"><img src="../img/download.png" alt=""><b></b><span>国家文物局政府信<br>息公开申请表下载</span></a>
				</div>
			</div>
		</div>
	</div>
<!-- 填表注意事项 end -->

<!-- 政府信息公开申请表 strat -->
	<div id="application">
		<div class="application-form">
			<div id="onlyTable" class="onlyTable">   
				<div id="modal-box"></div>
				<div class="container">
					<h3>政府信息公开申请表</h3>
					<p id="type"><span class="on item"><i>公民</i></span><span class="item"><i>法人/其他代表</i></span></p>
				</div>
				<div class="container data table-responsive" style="position: relative;">
					<table class="tab-l table table-condensed">
						<tr>
							<th colspan="4" class="text-center">申请人信息</th>
						</tr>
						<tr>
							<td class="txt"><i>*</i><em>姓名：</em></td>
							<td class="enter"><input type="text" id="applyUserID-l" maxlength="10"></td>
							<td class="txt"><em>工作单位：</em></td>
							<td class="enter"><input type="text" id="workUnit-l" maxlength="60"></td>
						</tr>
						<tr>
							<td class="txt"><i>*</i><em>证件名称：</em></td>
							<td class="enter">
								<select class="form-control" id="idCardType-l">
								</select>
							</td>
							<td class="txt"><i>*</i><em>证件号码：</em></td>
							<td class="enter"><input type="text" id="idCardNO-l" maxlength="18"></td>
						</tr>
						<tr>
							<td class="txt"><i>*</i><em>联系电话：</em></td>
							<td class="enter"><input type="text" id="contactNO-l" maxlength="20"></td>
							<td class="txt"><em>传真：</em></td>
							<td class="enter"><input type="text" id="fax-l" maxlength="20"></td>
						</tr>
						<tr>
							<td class="txt"><i>*</i><em>邮政编码：</em></td>
							<td class="enter"><input type="text" id="postalCode-l" maxlength="6"></td>
							<td class="txt"><i>*</i><em>电子邮箱：</em></td>
							<td class="enter"><input type="text" id="email-l"></td>
						</tr>
						<tr>
							<td class="txt"><i>*</i><em>联系地址：</em></td>
							<td colspan="3"><input type="text" class="colspan-input" id="address-l"></td>
						</tr>
						<tr>
							<td class="title" colspan="4"><em>所需信息的公开形式</em></td>
						</tr>
						<tr>
							<td class="txt"><i>*</i><em>证件扫描件</em></td>       
							<td colspan="3" class="scanning" style="position: relative;">
								<div class="content">     
									<ul>
										<li>
											<div class="uploder-container">
												<div  class="cxuploder">
													<div class="queueList">
														<div class="placeholder">
															<div class="filePicker"></div>
														</div>
													</div>
													<div class="statusBar" style="display:none;">
														<div class="btns">
															<div class="jxfilePicker"></div> 
														</div>
														<div class="info"></div>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<td class="txt"><i>*</i><em>所需信息标题描述</em></td>
							<td colspan="3"><textarea class="form-control" id="inforTitle-l" rows="5"></textarea></td>
						</tr>
						<tr>
							<td class="txt"><i>*</i><em>所需信息内容描述</em></td>
							<td colspan="3"><textarea class="form-control" id="contentDesc-l" rows="7"></textarea></td>
						</tr>
						<tr>
							<td class="txt"><i>*</i><em>所需信息的目的、用途</em></td>
							<td colspan="3"><textarea class="form-control" id="inforUse-l" rows="5"></textarea></td>
						</tr>
						<tr>
							<td class="txt entrance"><i>*</i><em>所需信息的指定提供载体形式：</em></td>
							<td colspan="3">
								<label class="radio inline single-box">
									<input type="radio" name="carrierForm-l" value="1" checked="true">
									纸质 
								</label>
								<label class="radio inline single-box">
									<input type="radio" name="carrierForm-l" value="2">
									电子文档
								</label>
							</td>
						</tr>
						<tr>
							<td class="txt entrance"><i>*</i><em>获取信息的方式：</em></td>
							<td colspan="3">
								<label class="radio inline single-box">
									<input type="radio" name="getWay-l" value="1" checked>
									邮寄 
								</label>
								<label class="radio inline single-box">
									<input type="radio" name="getWay-l" value="2">
									电子邮件
								</label>
								<label class="radio inline single-box">
									<input type="radio" name="getWay-l" value="3">
									传真
								</label>
								<label class="radio inline single-box">
									<input type="radio" name="getWay-l" value="4">
									自行领取
								</label>
							</td>
						</tr>
						<tr class="higher">
							<td colspan="4" class="verification-code"><i>*</i>验证码：<input class="yzm " id="verifycode-l" type="text"><span>请输入右图中的验证码</span><img src="" alt="" id="yzm" title="点击更换验证码"></td>
						</tr>
					</table>
					<table class="tab-r table table-condensed">
						<tr>
							<th colspan="4" class="text-center"><em>申请人信息</em></th>
						</tr>
						<tr>
							<td class="txt"><i>*</i><em>名称：</em></td>
							<td class="enter"><input type="text" id="unitName-r"></td>
							<td class="txt"><i>*</i><em>法人代表：</em></td>
							<td class="enter"><input type="text" id="crName-r"></td>
						</tr>
						<tr>
							<td class="txt"><i>*</i><em>组织机构信息：</em></td>
							<td class="txt">                
								<input type="radio" name="reserve1" id="zzjgdm" value="组织机构代码" checked/> <label for="zzjgdm" style="margin-right: 10px;">组织机构代码</label>
								<input type="radio" name="reserve1" id="yyzzzch" value="营业执照注册号" style="margin-left: 10px;" /> <label for="yyzzzch">营业执照注册号</label>
							</td>
							<td class="txt"><em style="padding: 0 5px;">组织机构代码/营业执照注册号</em></td>
							<td>
								<input type="text" id="orgCode-r" class="colspan-input" placeholder="">
							</td>
						</tr>
						<tr>
							<td class="txt"><i>*</i><em>联系人信息：</em></td>
							<td class="enter"><input type="text" id="contactorName-r"></td>
							<td class="txt"><i>*</i><em>联系人电话：</em></td>
							<td class="enter"><input type="text" id="contactNO-r"></td>
						</tr>
						<tr>
							<td class="txt"><i>*</i><em>电子邮箱：</em></td>
							<td class="enter"><input type="text" id="email-r"></td>
							<td class="txt">传真：</td>
							<td class="enter"><input type="text" id="fax-r"></td>
						</tr>
						<tr>
							<td class="txt"><i>*</i><em>联系地址：</em></td>
							<td colspan="3"><input type="text" id="address-r" class="colspan-input"></td>
						</tr>
						<tr>
							<td class="title" colspan="4"><em>所需信息的公开形式</em></td>
						</tr>
						<tr>
							<td class="txt"><i>*</i><em>证件扫描件</em></td>
							<td colspan="3" class="scanning">   
								<div class="content">     
									<ul>
										<li>
											<div class="uploder-container">
												<div  class="cxuploder">
													<div class="queueList">
														<div class="placeholder">
															<div class="filePicker"></div>
														</div>
													</div>
													<div class="statusBar" style="display:none;">
														<div class="btns">
															<div class="jxfilePicker"></div> 
														</div>
														<div class="info"></div>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>         
							</td>
						</tr>
						<tr>
							<td class="txt"><i>*</i><em>所需信息标题描述</em></td>
							<td colspan="3"><textarea class="form-control" id="inforTitle-r" rows="5"></textarea></td>
						</tr>
						<tr>
							<td class="txt"><i>*</i><em>所需信息内容描述</em></td>
							<td colspan="3"><textarea class="form-control" id="contentDesc-r" rows="7"></textarea></td>
						</tr>
						<tr>
							<td class="txt"><i>*</i><em>所需信息的目的、用途</em></td>
							<td colspan="3"><textarea class="form-control" id="inforUse-r" rows="5"></textarea></td>
						</tr>
						<tr>
							<td class="txt entrance"><i>*</i><em>所需信息的指定提供载体形式：</em></td>
							<td colspan="3">
								<label class="radio inline single-box">
									<input type="radio" name="carrierForm-r" value="1" checked>
									纸质 
								</label>
								<label class="radio inline single-box">
									<input type="radio" name="carrierForm-r" value="2">
									电子文档
								</label>
							</td>
						</tr>
						<tr>
							<td class="txt entrance"><i>*</i><em>获取信息的方式：</em></td>
							<td colspan="3">
								<label class="radio inline single-box">
									<input type="radio" name="getWay-r" value="1" checked>
									邮寄 
								</label>
								<label class="radio inline single-box">
									<input type="radio" name="getWay-r" value="2">
									电子邮件
								</label>
								<label class="radio inline single-box">
									<input type="radio" name="getWay-r" value="3">
									传真
								</label>
								<label class="radio inline single-box">
									<input type="radio" name="getWay-r" value="4">
									自行领取
								</label>
							</td>
						</tr>
						<tr class="higher">
							<td colspan="4" class="verification-code"><i>*</i><em>验证码：</em><input  id="verifycode-r" class="yzm" data-name="verifycode" type="text"><span>请输入右图中的验证码</span><img id="yzm2" src="" alt="" title="点击更换验证码"></td>
						</tr>
					</table>
					<span class="help-block auxiliary-text">
						注：申请人按其身份证选择公民或法人/其他组织一栏填写，*为必填项。
					</span>
				</div>
			</div>
			<center>
				<a class="btn btn-default preview" id="submit">提交</a>
			</center>
		</div>
	</div>
<!-- 政府信息公开申请表 end -->

<!-- 底部 start -->
	<div class="footer">
		<div class="container footer-content">
			<div class="row">
				<p><a href="../website-statement.html">网站声明</a><a href="../website-statement.html">联系我们</a></p>
				<i></i>
			</div>
			<b>Copyright © 2017 国家文物局版权所有</b>
		</div>
	</div>
<!-- 底部 end -->

	<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 5000;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close nooutline" data-dismiss="modal" aria-hidden="true">×
					</button>
					<h4 class="modal-title" id="myModalLabel">
						提示信息
					</h4>
				</div>
				<div class="modal-body">

				</div>
				<div class="modal-footer">
					<button type="button" id="sure" class="btn btn-default nooutline" data-dismiss="modal">确认
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

	<div id="showApplicationForm"></div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="../js/common/jquery-1.9.1.min.js"></script> 
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../js/common/bootstrap.min.js"></script>
	<script src="../js/common/ie10-viewport-bug-workaround.js"></script>
	<script src="../js/common/pageSwitch.min.js"></script>
	<script src="../js/common/main.js"></script>
	<script src="../js/common/common.js"></script>
	<script src="../js/public/webuploader.js"></script>
	<script src="../js/public/cxuploader.js"></script> 
	<script src="../js/public/public-application.js"></script>
</body>
</html>