.management {
  margin-bottom: 40px;
}
.management .management-left {
  border-right: 1px dashed #979797;
}
.management .management-left .industry-integrated-management {
  margin-right: 15px;
}
.management .management-left .industry-integrated-management h4 {
  margin: 0 0 20px;
}
.management .management-left .industry-integrated-management i {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #F4A753;
  border: 1px solid #D0893C;
  border-radius: 100px;
  margin-right: 9px;
}
.management .management-left .industry-integrated-management p {
  margin-bottom: 0;
}
.management .management-left .industry-integrated-management span {
  cursor: pointer;
  background-image: linear-gradient(0deg, #e3e4e8, #fefefe);
  height: 2.5%;
  line-height: 19px;
  border: 1px solid #eee;
  border-top: 2px solid #eee;
  padding: 0.6% 2.1% 0.7% 2%;
  text-align: center;
  font-size: 14px;
  height: 35px;
  line-height: 30px;
}
.management .management-left .industry-integrated-management span.on {
  border-color: #60A9EB;
  border-bottom-color: #eee;
  color: #60A9EB;
  background-image: none;
}
.management .management-left .industry-integrated-management .more {
  float: right;
  font-size: 14px;
  color: #999999;
  margin-top: 5px;
}
.management .management-left .industry-integrated-management .management-table {
  width: 100%;
  font-size: 14px;
  color: #526069;
  border: 1px solid #D7D8D9;
  margin: 0;
}
.management .management-left .industry-integrated-management .management-table th {
  position: relative;
  background-color: #62AAEC;
  font-weight: normal;
  color: #fff;
}
.management .management-left .industry-integrated-management .management-table th:first-child:before {
  border-left: 0 none;
}
.management .management-left .industry-integrated-management .management-table th:before {
  content: '';
  width: 1px;
  height: 20px;
  display: block;
  position: absolute;
  border-left: 1px dashed #91C9FB;
  top: 8px;
  left: 0;
}
.management .management-left .industry-integrated-management .management-table td + td {
  border-left: 1px solid #D7D8D9;
}
.management .management-left .industry-integrated-management .management-table th,
.management .management-left .industry-integrated-management .management-table td {
  height: 36px;
}
.management .management-left .industry-integrated-management .management-table .justify a {
  color: #526069;
}
.management .management-left .industry-integrated-management .management-table .justify a:hover {
  text-decoration: underline !important;
  color: #62AAEC;
}
.management .management-left .punish {
  margin-right: 15px;
}
.management .management-left .punish h4 {
  margin: 20px 0;
}
.management .management-left .punish i {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #39A99F;
  border: 1px solid #11887D;
  border-radius: 100px;
  margin-right: 9px;
}
.management .management-left .punish .more {
  float: right;
  font-size: 14px;
  color: #999999;
  margin-top: 5px;
}
.management .management-left .punish .punish-table {
  border: 1px solid #D7D8D9;
  margin: 0;
}
.management .management-left .punish .punish-table th {
  position: relative;
  background-color: #62AAEC;
  font-weight: normal;
  color: #fff;
}
.management .management-left .punish .punish-table th:first-child:before {
  border-left: 0 none;
}
.management .management-left .punish .punish-table th:before {
  content: '';
  width: 1px;
  height: 20px;
  display: block;
  position: absolute;
  border-left: 1px dashed #91C9FB;
  top: 8px;
  left: 0;
}
.management .management-left .punish .punish-table td + td {
  border-left: 1px solid #D7D8D9;
}
.management .management-left .punish .punish-table td a {
  color: #526069;
}
.management .management-left .punish .punish-table td a:hover {
  text-decoration: underline !important;
  color: #62AAEC;
}
.management .management-left .standard {
  margin-right: 15px;
}
.management .management-left .standard h4 {
  margin: 20px 0;
}
.management .management-left .standard i {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #D13535;
  border: 1px solid #D13535;
  border-radius: 100px;
  margin-right: 9px;
}
.management .management-left .standard .more {
  float: right;
  font-size: 14px;
  color: #999999;
  margin-top: 5px;
}
.management .management-left .standard .standard-table {
  border: 1px solid #D7D8D9;
  margin: 0;
}
.management .management-left .standard .standard-table th {
  position: relative;
  background-color: #62AAEC;
  font-weight: normal;
  color: #fff;
}
.management .management-left .standard .standard-table th:first-child:before {
  border-left: 0 none;
}
.management .management-left .standard .standard-table th:before {
  content: '';
  width: 1px;
  height: 20px;
  display: block;
  position: absolute;
  border-left: 1px dashed #91C9FB;
  top: 8px;
  left: 0;
}
.management .management-left .standard .standard-table td + td {
  border-left: 1px solid #D7D8D9;
}
.management .management-left .standard .standard-table td a {
  color: #526069;
}
.management .management-left .standard .standard-table td a:hover {
  text-decoration: underline !important;
  color: #62AAEC;
}
.management .management-left .social-heritage-management {
  margin-right: 15px;
}
.management .management-left .social-heritage-management h4 {
  margin: 20px 0;
}
.management .management-left .social-heritage-management i {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #F97272;
  border: 1px solid #F69090;
  border-radius: 100px;
  margin-right: 9px;
}
.management .management-left .social-heritage-management .more {
  float: right;
  font-size: 14px;
  color: #999999;
  margin-top: 5px;
}
.management .management-left .social-heritage-management .social-heritage-table {
  margin: 0;
  border: 1px solid #D7D8D9;
}
.management .management-left .social-heritage-management .social-heritage-table th {
  position: relative;
  background-color: #62AAEC;
  font-weight: normal;
  color: #fff;
}
.management .management-left .social-heritage-management .social-heritage-table th:first-child:before {
  border-left: 0 none;
}
.management .management-left .social-heritage-management .social-heritage-table th:before {
  content: '';
  width: 1px;
  height: 20px;
  display: block;
  position: absolute;
  border-left: 1px dashed #91C9FB;
  top: 8px;
  left: 0;
}
.management .management-left .social-heritage-management .social-heritage-table td + td {
  border-left: 1px solid #D7D8D9;
}
.management .management-left .social-heritage-management .social-heritage-table td a {
  color: #526069;
}
.management .management-left .social-heritage-management .social-heritage-table td a:hover {
  text-decoration: underline !important;
  color: #62AAEC;
}
.management .management-left .category {
  margin-right: 15px;
}
.management .management-left .category .first-title {
  margin: 20px 0;
}
.management .management-left .category .first-title i {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #F4A753;
  border: 1px solid #D0893C;
  border-radius: 100px;
  margin-right: 9px;
}
.management .management-left .category .second-title {
  margin-bottom: 0;
}
.management .management-left .category .second-title span {
  cursor: pointer;
  background-image: linear-gradient(0deg, #e3e4e8, #fefefe);
  height: 2.5%;
  line-height: 19px;
  border: 1px solid #eee;
  border-top: 2px solid #eee;
  padding: 0.6% 2.1% 0.7% 2%;
  text-align: center;
  font-size: 14px;
  height: 35px;
  line-height: 30px;
}
.management .management-left .category .second-title span.on {
  border-color: #60A9EB;
  border-bottom-color: #eee;
  color: #60A9EB;
  background-image: none;
}
.management .management-left .category .more {
  float: right;
  font-size: 14px;
  color: #999999;
  margin-top: 5px;
}
.management .management-left .category .management-table {
  width: 100%;
  font-size: 14px;
  color: #526069;
  border: 1px solid #D7D8D9;
  margin: 0;
}
.management .management-left .category .management-table th {
  position: relative;
  background-color: #62AAEC;
  font-weight: normal;
  color: #fff;
}
.management .management-left .category .management-table th:first-child:before {
  border-left: 0 none;
}
.management .management-left .category .management-table th:before {
  content: '';
  width: 1px;
  height: 20px;
  display: block;
  position: absolute;
  border-left: 1px dashed #91C9FB;
  top: 8px;
  left: 0;
}
.management .management-left .category .management-table td + td {
  border-left: 1px solid #D7D8D9;
}
.management .management-left .category .management-table th,
.management .management-left .category .management-table td {
  height: 36px;
}
.management .management-left .category .management-table .justify a {
  color: #526069;
}
.management .management-left .category .management-table .justify a:hover {
  text-decoration: underline !important;
  color: #62AAEC;
}
.management .management-right .management-right-content {
  margin-left: 15px;
  margin-top: 74px;
}
.management .management-right .management-right-content div img {
  margin-right: 33px;
  margin-left: -2px;
  cursor: pointer;
}
.management .management-right .management-right-content div em {
  color: #fff;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-style: normal;
  display: inline-block;
  width: 150px;
}
.management .management-right .management-right-content div + div {
  margin-top: 35px;
}
.management .management-right .management-right-content div + div img {
  margin-top: -20px;
}
.management .management-right .management-right-content div + div em {
  margin-top: 10px;
  text-align: justify;
}
#standard-table td,
#punish-table td {
  height: 36px;
}
@media (max-width: 767px) {
  .management .management-left {
    border: 0 none;
  }
  .management .management-right .management-right-content {
    margin-right: 15px;
    margin-top: 50px;
  }
  .management .management-left .industry-integrated-management p {
    white-space: nowrap;
    overflow-x: auto;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .management .management-left {
    border-right: 0 none;
  }
  .management .management-right .management-right-content {
    margin-left: 0;
  }
  .management .management-right .management-right-content div + div {
    margin-top: 0;
  }
  .management .management-right .management-right-content div + div img {
    margin-top: 0;
  }
  .management .management-right .management-right-content div img {
    width: 190px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .management .management-right .management-right-content {
    margin-left: 0;
  }
  .management .management-right .management-right-content div img {
    width: 190px;
  }
}
